/*
 * Make modal window body scrollable
*/
.modal-body {
    max-height: calc(100vh - 190px);
    overflow-y: auto;
}

.meal a{
    display: block;
}

.tt-menu{
    background-color: white;
    width: 100%;
    border: solid 1px #ccc;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.75);
}

.twitter-typeahead{
width:100%;
}

.tt-dataset.tt-dataset-menus{
    max-height: 330px;
    overflow-y: auto;
}


.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  width:100%;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
    cursor: pointer;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

/*
Style fix for modal window. Datetime picker get wrong position if in modal window
*/
.form-group.dtp{

    position: relative;
}

.meal {font-size: 12px;}

table>tbody>tr>td.meal { border-bottom: 0; }
table>tbody>tr>td.mealinfo { border-top: 0; }


hr{
   margin:1px 0px;
}

td.menu-preparation > a,
div#week-list a.has-preparation,
div#week-list span.has-preparation {
    color: #daa355;
}

td.meal {
    position: relative;
}

td.specific-mealplan-menu .mealplan-menu-sign,
td .disabled-menu-sign {
    position: absolute;
    top: 5px;
    right: 5px;
}

td.specific-mealplan-menu .disabled-menu-sign {
    top: 25px;
}

.tooltip-inner {
    white-space: nowrap;
    max-width: none;
}

.bootbox-body ul.preparing-mealplans {
    padding-top: 5px;
}

.bootbox-body ul.preparing-mealplans li {
    font-size: 100%;
    padding: 4px 0;
    font-weight: bold;
}

ul.messagelist div.released-items:first-child {
    padding-top: 10px;
}

ul.messagelist  div.released-items ul {
    padding-left: 10px;
}

ul.messagelist  div.released-items ul li {
    background: none;
    padding: 2px 0 0 10px;
    border: none;

}

.mealplan-selector {
  padding-top: 10px;
  margin-bottom: 10px;
}

.mealplan-actions {
  margin-bottom: 10px;
  position: relative;
}

.ui-draggable-dragging {
    width: 100px;
    height: 50px;
    background: darkgray;
    padding: 5px;
    overflow: hidden;
}

.hovered {
  background: palegreen;
}

#required-menu option:not(.visible) {
  display: none;
}

.action-extras select {
  display: inline-block;
  width: 100%;
}

#menu-table {
    width: 100%;
    table-layout: fixed;
}

#menu-table th,
#menu-table td {
    overflow: hidden;
}

#menu-table tr th:first-child {
    width: 12%;
}

.no-sub-labels label {
    font-weight: normal;
}

.prices-wrapper .help-block {
    font-size: 0.9em;
    margin: 5px 0;
}

.prices-wrapper > div label {
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

