/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) stylesheet for screen layout
 * (de) Stylesheet für das Bildschirm-Layout
 *
 * @creator       YAML Builder V1.2.1 (http://builder.yaml.de)
 * @file          basemod.css
 * @-yaml-minver  3.3
 */

@media screen, projection
{
  /** 
   * (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera 
   * (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera 
   *
   * @workaround
   * @affected IE8, FF, Webkit, Opera
   * @css-for all
   * @valid CSS3
   */

  body { overflow-y: scroll; }

  /*-------------------------------------------------------------------------*/

  /* (en) Marginal areas & page background */
  /* (de) Randbereiche & Seitenhintergrund */
  body { background: #FFF; padding: 10px 0; }

  /* Layout Alignment | Layout-Ausrichtung */
  .page_margins { margin: 0 auto; }

  /* Layout Properties | Layout-Eigenschaften */
  .page_margins { width: auto;  min-width: 740px; max-width: 1000px; background: #FFF; }
  .page { padding: 10px; }
  #header { position:relative; padding: 10px 20px 5px 20px; color: #000; background: #ee1d23 url('../../img/layout/header_bg.png') no-repeat left bottom; }
  #topnav { position:absolute; top:10px; right:10px; text-align:right; color: #aaa; background: transparent; }
  #nav { overflow:hidden; }
  #main { margin: 0; background: #fff; }
  #footer { padding: 25px 20px 10px 20px; color:#666; background: #ee1d23 url('../../img/layout/footer_bg.png') no-repeat left top; border-top: 5px #FFF solid; border-bottom: 10px #EE1D23 solid; }

  /* (en) navigation: horizontal adjustment | (de) horizontale Ausrichtung  */
  #nav ul { margin-left: 30px; }

  /*-------------------------------------------------------------------------*/

  /**
   * (en) Formatting content container
   * (de) Formatierung der Inhalts-Container
   *
   */

  #main_content { padding: 30px 30px 50px 30px }
	
  /*-------------------------------------------------------------------------*/
  
  
  /* Navigation */
  .hlist { background:#EE1D23; border-top: 2px solid white; border-bottom: 0px; }
  
  .hlist ul li { background: #f14a4f }
  
  .hlist ul li a,
  .hlist ul li strong { color:#FAFAFA; }
  
  .hlist ul li a:focus,
  .hlist ul li a:hover,
  .hlist ul li a:active  { background:#fde8e9; color:#EE1D23;}

  .hlist ul li.active {
    /* (en) Repeat the main color from the image */
    /* (de) Wiederholung der Hauptfarbe aus der Bilddatei */
    border-left:1px #444 solid;
    border-right:1px #888 solid;
  }
  
  
  /* Tabbed Navigation */
  
	.tabnav ul {
		list-style: none;
		padding: 0;
		margin: 0 0 0 10px;
	}
	
	.tabnav li {
		float: left;
		border: 1px solid #EE1D23;
		border-bottom-width: 0;
		margin: 0 0.5em 0 0;
	}
	
	.tabnav a {
		display: block;
		padding: 0.4em 1em;
		color: #333;
		text-decoration: none;
		background-color: #fde8e9;
	}
	
	.tabnav a:hover,
	.tabnav a:active,
	.tabnav a:visited,
	.tabnav a:focus {
		color: #333;
		text-decoration: none;
        outline: none;
	}
	
	.tabnav a:hover {background-color: #fff;}
	
	.tabnav .selectedtab {
		position: relative;
		top: 1px;
	}
	
	.tabnav .selectedtab a {background-color: #fff; font-weight: bold;}
	
	.tabnav_under {border-top: 1px solid #EE1D23; clear: both}
  
}