<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>
{%block title%}	
{%endblock%}
</title>
<style type="text/css">
{% block style %}
	@page {
		size: A4;
		margin: 1cm;

        @bottom-left {
            content: 'Gedruckt am: {% now "d.m.Y H:i:s" %} Uhr';
            font-size: 8pt;
            font-family: sans-serif;
            padding-left: 10px;
        }

        @bottom-right {
            content: counter(page) " / " counter(pages);
            font-size: 8pt;
            font-family: sans-serif;
        }
	}
	
	body {font-size: 12px;}
	
	table {border-collapse: collapse;}
	td, th {border: 1px solid #000; background-color: #fff; padding-top: 3px; padding-left:3px; padding-right:3px;}
	
	.w1 {width:1cm;}
    .w2 {width:2cm;}
	.w3 {width:3cm;}
	.w5 {width:5cm;}
    .w7 {width:7cm;}
	
	.center {text-align: center;}
    .nowrap {white-space: nowrap;}
    .danger {background-color: #f2dede;}
{%endblock%}	
</style>
</head>
<body>
	{% autoescape off %}
   		{{report_html}}
   	{% endautoescape %}
</body>
</html>
