<h2>{{facility.name}}</h2>
{% if dates_list %}
<table id=week-report">
	<tbody>
		<tr>
			<td class="w5"></td>
		
			{% for day in dates_list %}
				<td class="center day-separator" colspan="{{mealtimes|length}}">
					<strong>{{day|date:"D, d.m."}}</strong>
				</td>
			{% endfor %}
		
		</tr>

		<tr>
			<td></td>
		
			{% for day in dates_list %}
				
				{% for mealtime in mealtimes %}
					
					<td class="center{% if forloop.first %} day-separator{% endif %}">
						{{mealtime.name_short}}
					</td>
					
				{% endfor %}
			{% endfor %}
		
		</tr>

		{% with stepwidth=mealtimes|length %}
		{% for row in table_rows %}
		<tr>
			{% for col in row %}
				{% if forloop.first %}
					<td class="w5">
            			<strong>{{col}}</strong>
					</td>
				{% else %}
				
					<td class="center{% if forloop.counter0|add:-1|divisibleby:stepwidth %} day-separator{% endif %}">
						{{col}}
					</td>
					
				{% endif %}
			{% endfor %}	
		</tr>
		{% endfor %}

		<tr>
			<td class="w5">
				<strong>Gesamt:</strong>
			</td>
		
			{% for col_total in total %}
                <td class="center{% if forloop.counter0|divisibleby:stepwidth %} day-separator{% endif %}">
					<strong>{{col_total}}</strong>
				</td>
			{% endfor %}
			
			{% endwith %}
		</tr>										
		
	</tbody>
	
</table>
{% else %}
Keine Einträge
{% endif %}
<br />
