<h1 style="-pdf-keep-with-next:1">Wochenliste kompakt - KW{{ week }}</h1>
<table>
	<tbody>
		<tr>
			<td class="w5" style="border-right:3px;"></td>

			{% for day in dates_list %}
				<td class="center" colspan="{{mealtimes|length|add:"1"}}" style="border-right:3px;">
					<strong>{{day|date:"D, d.m."}}</strong>
				</td>
			{% endfor %}

            <td class="center" colspan="{{mealtimes|length|add:"1"}}" style="border-right:3px;">
				<strong>Wochensummen</strong>
			</td>

		</tr>

		<tr>
			<td style="border-right:3px;"></td>

			{% for day in dates_list %}
				{% for mealtime in mealtimes %}
					<td class="center">
						{{mealtime.name_short}}
					</td>
				{% endfor %}

                <td class="center" style="border-right:3px;">
				    SUM
				</td>
			{% endfor %}

            {% for mealtime in mealtimes %}
                <td class="center">
                    {{mealtime.name_short}}
                </td>
            {% endfor %}

            <td class="center" style="border-right:3px;">
                SUM
            </td>

		</tr>

		{% with stepwidth=mealtimes|length|add:"1" %}

		{% for row in table_rows %}
		<tr>
			{% for col in row %}
				{% if forloop.first %}
					<td class="w5" style="border-right:3px;">
            			<strong>{{col}}</strong>
					</td>
				{% else %}
					<td class="center" {% if forloop.counter|add:"-1"|divisibleby:stepwidth %}style="font-weight:bold; border-right:3px;"{% endif %}>
						{{col}}
					</td>
				{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}

		<tr>
			<td class="w5" style="border-right:3px;">
				<strong>GESAMT</strong>
			</td>

			{% for col_total in total %}
				<td class="center" {% if forloop.counter|divisibleby:stepwidth %}style="border-right:3px;"{% endif %}>
					<strong>{{col_total}}</strong>
				</td>
			{% endfor %}

			{% endwith %}
		</tr>

	</tbody>

</table>