			
<h1 style="-pdf-keep-with-next:1">{{facility.name}}, Allergiker Liste, {{date|date:"d.m.Y"}}</h1>
			
<table>
		<tbody>
				


{% for subunit in subunit_list %}

	{% for child in subunit.child_list %}

			{% if child.orders and child.child.allergen.all %}
					<tr>
					<td class="w5">{{child.child}}</td>
					<td class="w3">{{facility.name}}</td>
					<td class="w3">{{subunit.subunit.name}}</td>
                    <td class="w2 center nowrap">
                        &nbsp;&nbsp;
                        {% for order in child.orders %}
                            {{ order }}
                        {% endfor %}
                        &nbsp;&nbsp;
                     </td>
					<td class="w5">
									{% for allergen in child.child.allergen.all %}
										{% if forloop.last %}
											{{allergen.name}}
										{% else %}
											{{allergen.name}},
										{% endif %}
									{% endfor %}
					</td>
					</tr>
			{% endif%}
			
			
			
	
					

	{% endfor %}
{% endfor %}

</tbody>
				
</table>

