<div class="panel panel-default">
    <div class="panel-heading">Guthaben aufladen per Überweisung</div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                <tr>
                    <td>Kontoinhaber:</td>
                    <td>Schule, Jugend, Kids & Co e.V.</td>
                </tr>
                <tr>
                    <td>IBAN:</td>
                    <td>
                        <span class="number-part">DE32</span>
                        <span class="number-part">4006</span>
                        <span class="number-part">0265</span>
                        <span class="number-part">0018</span>
                        <span class="number-part">4882</span>
                        <span class="number-part">03</span>
                    </td>
                </tr>
                <tr>
                    <td>BIC:</td>
                    <td>GENODEM1DKM</td></tr>
                <tr>
                    <td>Verwendungszweck:</td>
                    <td>{{ bank_transfer_purpose }}</td>
                </tr>
            </tbody>
        </table>
        <i>Bitte achten Sie unbedingt darauf, den hier angegebenen Verwendungszweck zu verwenden.</i>
    </div>
</div>



