<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            <span>German Soulfood Company UG</span><br />
        </div>

        <span>Alfred-Hitz-Platz 17</span><br/>
        <span>47228 Duisburg</span><br/>
        <span>Telefon: 02065 7909565</span><br/>
        <span>E-Mail: kontakt@soulfood-liefert.de</span>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
