<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            <span>Leben mit uns gGmbH</span><br />
            <span></span>
        </div>

        <span>Neu Hinrichsdorf 18A</span><br/>
        <span>18146 Rostock</span><br/>
        <span>Telefon: 0381 666 19 204</span><br/>
        <span>E-Mail: kontakt@muehlenmenue.de</span>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/agb/" class="highlighted">AGB</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
