{% extends "kg/base.html" %}

{% load url from future %}

{% block title %} - Login{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Anmelden</h1>
    </div>

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">Bitte geben Sie Ihre E-Mailadresse und Ihr Passwort ein.</div>
            <div class="panel-body">

                <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                    <label for="id_email" class="control-label">E-Mail</label>
                    <input type="text" name="username" id="id_username" class="form-control" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false"/>
                </div>

                <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                    <label for="id_password">Passwort</label>
                    <input type="password" name="password" id="id_password" class="form-control" value="" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false"/>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" tabindex="4" tabindex="6">Anmelden</button>
    </form>

{% endblock %}
