.header-h1 {margin-top: 10px;}
.header-h1 a, .header-h1 a:visited, .header-h1 a:focus, .header-h1 a:hover, .header-h1 a:active {color: #e3000b; text-decoration: none; background: none;}

div.actions {padding-bottom: 10px; border-bottom: 2px solid #e3000b;}

.left-block {width: 25%;}


@media screen and (max-width: 900px) {


}

@media screen and (max-width: 750px) {


}


@media screen and (max-width: 580px) {

    div.actions {padding-top: 3px; border-bottom: 0;}
    .header-h1 {margin-top: 5px;}
    .header .logo {text-align: center;}
    .header .logo img {width: 125px;}

}