{% extends "admin_copies/change_list.html" %}

{% block extrahead %}
    {{ block.super }}
    
    <style>
    #overlay {
       visibility: hidden;
       position: absolute;
       left: 0px;
       top: 0px;
       width:100%;
       height:100%;
       text-align:center;
       z-index: 1001;
       background-color:#000;
       opacity:0.5;
    }
    
    #my_prompt {
       position:absolute;
       visibility: hidden;
       width:70%;
       height:50%;
       text-align:center;
       z-index: 1002;
       background-color:#fff;
       left:0;
       right:0;
       top:0;
       bottom:0;
       margin:auto;
       border-radius: 5px;
       -webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
       box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
       padding: 0px 0px 10px 0px;
    }
    
    .title{
       color: #fff;
       font-size: 14px;
       padding: 7px;
       background-color:  #448BC9;
       border-radius: 5px 5px 0px 0px;
       margin: 0px 0px 10px 0px;
    }
    
    .data{
        overflow:auto;
        padding:10px 10px 30px 10px;
        text-align:left;
        max-height:70%;
    }
    
    #my_prompt input{
        border: solid #808080 2px;
        font-size: 17px;
        margin: 0px 0px 10px 0px;
    }
    
    #my_prompt button{
        font-size: 13px;
    }
    
    .none{
        display:none;
    }
    
    .btns{
        position: absolute;
        bottom: 5px;
        text-align:center;
        width:100%;
    }
    
    .cmd, .out{
        cursor: pointer;
    }
    </style>
{% endblock %}
    
{% block docreadyjs %}
  {{ block.super }}
  // Shoe modal window with given data
  function show_modal(title, data){
      var my_promt = '<div id="overlay"></div>';
      my_promt = my_promt + '<div id="my_prompt"><div class="title">'+title+'</div><p class="data">'+data+'</p><div class="btns"><button id="btn_cancel" type="button">schließen</button></div></div>';
      
      $('body').append(my_promt);
      
      // add close button functionlaity
      $('#btn_cancel').click(function(){
          $('#overlay').remove();
          $('#my_prompt').remove();
          $('#btn_cancle').unbind('click');
      });
      
      $('#overlay').css('visibility', 'visible');
      $('#my_prompt').css('visibility', 'visible');
  }
  
  // Show modal when click on command column
  $('.cmd').click(function(e){
      e.preventDefault();
      var id = $(this).attr('id')
      var data = $('#full'+id).html();
      show_modal('Befehl', data);
  });
  
  // Show modal when click on output column
  $('.out').click(function(e){
      e.preventDefault();
      var id = $(this).attr('id')
      var data = $('#full'+id).html();
      show_modal('Befehlsausgabe', data);
  });
{% endblock %}
