<div class="alert alert-info" role="alert"><strong>Hinweis:</strong> Allergene können Sie nach Vorlage eines ärztlichen Attestes bzw. einer Bescheinigung vom zuständigen Amt von uns eintragen lassen.</div>