<div class="panel panel-default">
    <div class="panel-heading">Guthaben aufladen per Überweisung</div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                <tr>
                    <td>Kontoinhaber:</td>
                    <td>Schulförderverein Dettmannsdorf e.V.</td>
                </tr>
                <tr>
                    <td>IBAN:</td>
                    <td>
                        <span class="number-part">DE52</span>
                        <span class="number-part">1002</span>
                        <span class="number-part">0500</span>
                        <span class="number-part">0003</span>
                        <span class="number-part">8896</span>
                        <span class="number-part">00</span>
                    </td>
                </tr>
                <tr>
                    <td>BIC:</td>
                    <td>BFSWDE33BER</td></tr>
                <tr>
                    <td>Verwendungszweck:</td>
                    <td>
                        {% for purpose in bank_transfer_purpose_list %}
                            <strong>{{ purpose }}<br /></strong>
                        {%  endfor %}
                        <br /><i>Bitte nutzen Sie die Ihnen bekannte Kundennummer.</i>
                        {% if bank_transfer_purpose_list|length > 1 %}
                            <br /><i>Bitte überweisen Sie für jedes Kind mit dem entsprechenden Verwendungszweck.</i>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <i>Bitte achten Sie unbedingt darauf, den hier angegebenen Verwendungszweck zu verwenden.</i>
    </div>
</div>



