<div class="panel panel-default">
    <div class="panel-heading">Guthaben aufladen per Überweisung</div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                <tr>
                    <td>Kontoinhaber:</td>
                    <td>Christina Koch</td>
                </tr>
                <tr>
                    <td>IBAN:</td>
                    <td>
                        <span class="number-part">DE78</span>
                        <span class="number-part">2104</span>
                        <span class="number-part">0010</span>
                        <span class="number-part">0717</span>
                        <span class="number-part">4170</span>
                        <span class="number-part">00</span>
                    </td>
                </tr>
                <tr>
                    <td>BIC:</td>
                    <td>COBADEFFXXX</td></tr>
                <tr>
                    <td>Verwendungszweck:</td>
                    <td>{{ bank_transfer_purpose }}</td>
                </tr>
            </tbody>
        </table>
        <i>Bitte achten Sie unbedingt darauf, den hier angegebenen Verwendungszweck zu benutzen.</i>
    </div>
</div>



