<div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-8">

        <h1>Schulmenüplaner Demosystem</h1>
        <h3>Schulessen einfach online bestellen und abrechnen</h3>
        <h3>Leistungsumfang</h3>
        <ul>
            <li>Verwaltung mehrer Einrichtungen</li>
            <li>Rechnungserstellung auf Knopfdruck</li>
            <li>SEPA Export für automatisierte Lastschriften</li>
            <li>Monatsauswertungen und Statistiken</li>
           <li>Einfach erweiterbar / anpassbar nach Ihren Wünschen</li>
            <li>Und vieles mehr</li>
        </ul>
    </div>

    <div class="col-xs-6 col-lg-4">
        <!-- Add registration form here (special phrase will be replaced) -->
        <!-- Example below - remove comment tags: -->
        #registration-panel
    </div>

</div>