{% load fieldtags %}


<ul class="actionlist">

    {% for logEntry in logEntries %}


        <li>
            <span class="mini quiet">{{ logEntry.action_time }}</span>
            <br />
            <span style="{{ logEntry.style }}">{{ logEntry.change_message }}</span>
        </li>

    {% endfor %}

        <li>
            <br />
            <a href="/admin/kg/actionlog">weitere</a>
        </li>

</ul>