{% extends "admin_copies/change_list.html" %}
{% load i18n %}
{% load url from future %}


{% block content %}
  <div id="content-main">

    <h1>Monats Backup</h1>
    
    <br />

    <form action="{% url 'kg.views_admin.csv_backup' %}" method="get">
    	{% csrf_token %}
		<table class="invisible">
		<tr>
    	 {% for fieldset in form.fieldsets %}  
     
	         {% for field in fieldset %}
	         	<td>  
	           {% if field.is_hidden %}  
	             {{ field }}  
	           {% else %}  
	         		{{ field.errors }}  
	         		{{ field.label_tag }}  
	         		{{ field }}     
	           {% endif %}
	           </td>  
	         {% endfor %}  
	   {% endfor %}
   		
   		<td><input type="submit" value="Ändern" /></td>
		</tr>
    	</table>
	</form>
    
	<h3>{{date|date:"m/Y"}}</h3>
	

  



          

    
  </div>
{% endblock %}