<form action="" method="post">
    <span>{{ customer }}</span>
    <br />
    <label for="username">Login: </label><input type="text" name="username" value="" id="id_username">
    <br />
    <label for="password">Passwort: </label><input type="text" name="password" value="" id="id_password">
    <br />
    <button type="submit">Login anlegen</button>
    {% if customer.email %}
        <button type="submit">Login anlegen + Passwort per E-Mail senden</button>
    {% endif %}
</form>