{% extends "admin_copies/change_list.html" %}
{% load i18n %}
{% load fieldtags %}
{% load url from future %}


{% block content %}
  <div id="content-main">

    <h1>E-Mail-Adressen exportieren</h1>
    
	<br />
 

  	
  	{% if error %}
		<div class="error">Fehler: {{error}}</div>
		<br />
	{% endif %}
  	
  	
  	{% if form.errors %}
		<div class="warning"><p>Es sind Fehler aufgetreten. Bitte korrigieren Sie die markierten Felder.</p></div>
		<br />
	{% endif %}
  	
  	<form action="{% url 'kg.views_admin.email_export' %}" method="post" class="yform">
  		
  		{% csrf_token %}
  		
	   {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
	   {% for fieldset in form.fieldsets %}
	     <fieldset class="{{ fieldset.classes }}">  
	       {% if fieldset.legend %}  
	         <legend>{{ fieldset.legend }}</legend>  
	       {% endif %}  

	         <table class="invisible">
	         {% for field in fieldset %}  
	           {% if field.is_hidden %}  
	             {{ field }}  
	           {% else %}
	           		<tr>  
		       		  <td class="align-right valign-middle">{{ field.label_tag }}</td>
		         	  <td class="align-left valign-middle">{{ field }}</td>
		         	<tr>       
	           {% endif %}  
	         {% endfor %}
	         </table>

             {% if fieldset.description %}
	         <div class="description"><i>{{ fieldset.description }}</i></div>
	       {% endif %}
	       
	     </fieldset>  
	   {% endfor %}
   
		<input type="submit" value="Aktualisieren" />
	</form>
    
    <br />
    <br />
    <strong>Kunden mit E-Mail-Adresse:</strong><br />
    {% for customer in customers_with %}
        {% if customer.surname %}{{ customer.surname }}{% else %}{{ customer.title }}{% endif %} {{ customer.name }} &lt;{{ customer.email }}&gt;{% if not forloop.last %}{{ separator|linebreaksbr }}{% endif %}
    {% endfor %}

    <br />
    <br />

    <strong>Kunden ohne E-Mail-Adresse:</strong><br />
    {% for customer in customers_without %}
        {% if customer.surname %}{{ customer.surname }}{% else %}{{ customer.title }}{% endif %} {{ customer.name }}{% if not forloop.last %}{{ separator|linebreaksbr }}{% endif %}
    {% endfor %}

     
  </div>
{% endblock %}