{% extends "admin_copies/change_list.html" %}
{% load i18n %}
{% load url from future %}
{% load staticfiles %}
{% load simpletags %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/flatrate.css" %}?v={% commit_hash %}" />
{% endblock %}
{# Override for view-specific js libraries to be loaded #}
{% block js %}
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.12.0.min.js"></script>
    <script src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
{% endblock %}

{% block docreadyjs %}
    function showQuantityEdit(e) {
        var $widgetEdit = $('#quantity-edit');
        var $cell = $(e.target);
        var dataset = e.target.dataset;
        if (dataset.flatrate== $widgetEdit.attr('data-flatrate')) {
            return;
        }

        $widgetEdit.attr('data-flatrate', dataset.flatrate);
        $widgetEdit.attr('data-value', dataset.value);

        if (e.target.classList.contains('active')) {
            $widgetEdit.addClass('active');
        } else {
            $widgetEdit.removeClass('active');
        }

        // set ID and positioning
        $widgetEdit.attr('data-flatrate', dataset.flatrate);
        var $label = $cell.children('span.flatrate-state');
        var offset = $label.offset();
        var offset = $label.offset();
        if (typeof(offset) != 'undefined') {
            $widgetEdit.show().offset({
                left: offset.left + 4 - ($widgetEdit.width()-$label.width())/2,
                top: offset.top - 2,
            });
        } else {
        }
    }

    function hideQuantityEdit(e) {
        var widgetEdit = document.getElementById('quantity-edit');
        var toElement = e.toElement || e.relatedTarget;
        if (toElement == widgetEdit || toElement.parentElement == widgetEdit) {
            return;
        }
        $(widgetEdit).attr('data-flatrate', '').hide();
    }

    $('#quantity-edit input:button').click(function(event) {

        event.preventDefault();
        event.stopPropagation();

        var flatrate_id = $(this).parent().attr('data-flatrate');
        var action = $(this).attr('data-action');
        var value = $(this).parent().attr('data-value');
        if ( action == 'down' ) {
            value = value - 1;
        }
        if ( action == 'up' ) {
            value = value + 1;
        }
        if ( value < 0 ) {
            value = 0;
        }
        $.ajax({
          type: "GET",
          dataType:  'json',
          cache: false,
          data: {
            'flatrate': flatrate_id,
            'value': value
          },
          success: function(data) {
              if (!data['error']) {
                var $quantityEdit = $('#quantity-edit');
                var $cell = $('.action-checkbox[data-flatrate=' + flatrate_id + ']');
                $cell.children('span').text(data['status']?'1':'0');
                if (data['status']) {
                    $cell.addClass('active');
                    $quantityEdit.addClass('active');
                } else {
                    $cell.removeClass('active');
                    $quantityEdit.removeClass('active');
                }
              } else {
                alert(data['message']);
              }
            },
          error: function() {
              alert('Es ist ein Fehler aufgetreten!');
            }
        });
    });

    // Show and hide the control button of each order action box respectively
    // to mouse hovering event.
    $('#flatrate-results .action-checkbox').hover(
       showQuantityEdit,
       hideQuantityEdit
    );

    // Manage the table appearance
    $results = $('.results');
    $results.css("height", $(window).height() - $results.offset().top - 20);

    $header_cols = $('#fixed-header tr > th');
    $result_cols = $('#result_list tr > th');
    for (var ci=0; ci<$result_cols.length; ci++) {
        var common_width = $($result_cols[ci]).width();
        $($header_cols[ci]).width(common_width);
        $($result_cols[ci]).width(common_width);
    }

    $('#searchbar').toggleClass('x', $('#searchbar').val() !== "")
    function tog(v){return v?'addClass':'removeClass';}
    $(document).on('input', '.clearable', function(){
            $(this)[tog(this.value)]('x');
            }).on('mousemove', '.x', function( e ){
                $(this)[tog(this.offsetWidth-18 < e.clientX-this.getBoundingClientRect().left)]('onX');
            }).on('touchstart click', '.onX', function( ev ){
                ev.preventDefault();
            $(this).removeClass('x onX').val('').closest('form').submit();
        });
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; Abonnements bearbeiten
</div>
{% endblock %}

{% block content %}
  <div id="content-main">

    <h1>Abonnements bearbeiten</h1>
    
    <noscript>
    	<div class="warning">
    		<strong>JavaScript deaktiviert!</strong><br />
    		Bitte aktivieren Sie JavaScript. Ihre Eingaben werden sonst NICHT gespeichert.
    	</div>
    </noscript>

    <form id="flatratelist-search" action="" method="get">
        <div>
            <label for="searchbar">
                <img src="{% static "admin/img/selector-search.gif" %}" alt="Search"/>
            </label>
            <input type="hidden" name="year" value="{{ request.GET.year }}"/>
            <input type="hidden" name="week" value="{{ request.GET.week }}"/>
            {% if request.GET.facility %}
                <input type="hidden" name="facility" value="{{ request.GET.facility }}"/>
            {% endif %}
            {% if request.GET.facility_subunit %}
                <input type="hidden" name="facility_subunit" value="{{ request.GET.facility_subunit }}"/>
            {% endif %}
            <input type="text" size="40" name="q" value="{{ request.GET.q }}" id="searchbar"
                   class="clearable {% if not request.GET.q %}clearable-active{% endif %}" />
            <input type="submit" value="{% trans 'Search' %}"/>
        </div>
    </form>

    <div class="module filtered" id="changelist">
      {% block filters %}
          <div id="changelist-filter">
            <h2>Filter</h2>
            <h3>Einrichtung</h3>
            <ul>
            {% for facility in facilities %}
            	<li{% if facility.selected %} class="selected"{% endif %}>
    			<a href="{{facility.link|iriencode }}">{{facility.name}}</a></li>
            {% endfor %}
            </ul>
            <h3>Klasse/Gruppe</h3>
            <ul>
            {% for subunit in subunits %}
            	<li{% if subunit.selected %} class="selected"{% endif %}>
    			<a href="{{subunit.link|iriencode }}">{{subunit.name}}</a></li>
            {% endfor %}
            </ul>
            <h3>Haben Abonnements</h3>
            <ul>
            {% for presence in presence_choices %}
            	<li{% if presence.selected %} class="selected"{% endif %}>
    			<a href="{{ presence.link|iriencode }}">{{ presence.name }}</a></li>
            {% endfor %}
            </ul>
          </div>

          <div id="quantity-edit" data-flatrate="" data-value="">
            <input class="btn-minus" type="button" value="-" data-action="down"/>
            <input class="btn-plus" type="button" value="+" data-action="up">
          </div>

          <div class="results" id="flatrate-results">
			<table cellspacing="0" id="fixed-header">
				<thead>
					<tr>
                        <th scope="col" style="width:30%;white-space:nowrap;">Kind</th>
                        <th scope="col" style="width:3%;white-space:nowrap;">&nbsp;</th>
						{% for weekday in weekdays %}
							<th scope="col" class="align-center">{{weekday.1}}</th>
						{% endfor %}
					</tr>
				</thead>
			</table>
			<table cellspacing="0" id="result_list">
				<thead>
					<tr>
                        <th scope="col" style="width:30%;white-space:nowrap;">Kind</th>
                        <th scope="col" style="width:3%;white-space:nowrap;">&nbsp;</th>
						{% for weekday in weekdays %}
							<th scope="col" class="align-center">{{weekday.1}}</th>
						{% endfor %}
					</tr>
				</thead>
                <tbody>
                {% for child in childs %}
                    <tr class="{% cycle 'row1' 'row2' as rowcolors %} child-row">
                        <td rowspan="{{child.mealtimes_list|length}}"><a href="/admin/kg/child/{{child.id}}/">{{child.name}}, {{child.surname}}</a>{% if child.note %} <span title="{{child.note}}" style="font-weight:normal;color:#666;">({{child.note|stringformat:".20s"}}{% if child.note|length > 20 %}... {% endif %}){% endif %}</span></td>
                        {% for mealtime in child.mealtimes_list %}
                            {% if forloop.counter > 1 %}<tr class="{% cycle rowcolors %}">{% endif %}
                            <td class="nowrap">{{mealtime.name_short}}</td>
                            {% for flatrate in mealtime.flatrates %}
                            <td class="action-checkbox {{ flatrate.checked|yesno:"active," }}" data-flatrate="{{ flatrate.value }}" data-value="{{ flatrate.checked|yesno:"1,0" }}">
                                <span class="flatrate-state">{{ flatrate.checked|yesno:"1,0" }}</span>
                            </td>
                            {% endfor %}
                            {% if forloop.counter > 1 %}</tr>{% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
			</table>
		</div>
      {% endblock %}
    </div>
    
  </div>
{% endblock %}
