{% extends "admin_copies/change_list.html" %}
{% load i18n %}
{% load fieldtags %}
{% load url from future %}


{% block content %}
  <div id="content-main">

    <h1>Kontodaten Import</h1>
    
    <br /><br />
    
    Gesamt: {{counter}}<br />
    Erfolg: {{yes}}<br />
    Nicht importiert: {{no}}<br />
    
	<br />
	Importiert:<br />
	<br />
  	
	{% for row in imports %}
		{{row}}<br />
	{% endfor %}

	<br />
	Nicht importiert:<br />
	<br />
	          
	{% for row in no_imports %}
		{{row}}<br />
	{% endfor %}      

    
  </div>
{% endblock %}