{% extends "admin_copies/change_list.html" %}
{% load i18n %}
{% load url from future %}


{% block content %}
  <div id="content-main">

    <h1>Essenausgabe Daten importieren</h1>
    
    <br />

    <form action="{% url 'kg.views_admin.import_pos_app_data' %}" method="post" enctype="multipart/form-data" class="yform">
    	{% csrf_token %}
			   {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
	   {% for fieldset in form.fieldsets %}
	     <fieldset class="{{ fieldset.classes }}">
	       {% if fieldset.legend %}
	         <legend>{{ fieldset.legend }}</legend>
	       {% endif %}
	       {% if fieldset.description %}
	         <div class="description">{{ fieldset.description }}</div>
	       {% endif %}

	         <table class="invisible">
	         {% for field in fieldset %}
	           {% if field.is_hidden %}
	             {{ field }}
	           {% else %}
	           		<tr>
		       		  <td class="align-right valign-middle">{{ field.label_tag }}</td>
		         	  <td class="align-left valign-middle">{{ field }}</td>
		         	<tr>
	           {% endif %}
	         {% endfor %}
	         </table>

             <span class="quiet">
                 Bitte wählen Sie eine Datei aus und klicken Sie anschließend auf Hochladen.
             </span>

	     </fieldset>
	   {% endfor %}

        <input type="submit" name="cancel" value="Abbrechen" />
        &nbsp&nbsp&nbsp
        <input type="submit" value="Hochladen" />

	</form>
	

  



          

    
  </div>
{% endblock %}