{% extends "admin_copies/change_list.html" %}
{% load i18n %}
{% load fieldtags %}
{% load url from future %}


{% block content %}
  <div id="content-main">

    <h1>Mailtest</h1>
    
	<br />
  	
  	{% if form.errors %}
		<div class="warning"><p>Es sind Fehler aufgetreten. Bitte korrigieren Sie die markierten Felder.</p></div>
		<br />
	{% endif %}
  	
  	<form action="{% url 'kg.views_admin.mailtest_index' %}" method="post">
  		
  		{% csrf_token %}
  	
		{% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}  
	   {% for fieldset in form.fieldsets %}  
	     <fieldset class="{{ fieldset.classes }}">  
	       {% if fieldset.legend %}  
	         <legend>{{ fieldset.legend }}</legend>  
	       {% endif %}  
	       {% if fieldset.description %}  
	         <div class="description">{{ fieldset.description }}</div>  
	       {% endif %}  
	         
	         {% for field in fieldset %}  
	           {% if field.is_hidden %}  
	             {{ field }}  
	           {% else %}  
		       		<div {{ field.row_attrs }}>
		       			<div>  
		         		{{ field.errors }}  
		         		{{ field.label_tag }}  
		         		{{ field }}
		         		</div>  
		       		</div>     
	           {% endif %}  
	         {% endfor %}  
	       
	     </fieldset>  
	   {% endfor %}
   
		<br />
		<input type="submit" value="Senden" />
	</form>
          

    
  </div>
{% endblock %}