{% load fieldtags %}
<div id="dialog" title="{{ menu.date }} - {{ child }}">
    {% for order in orderHistory %}

        {% if order.pickup_time %}{{ order.pickup_time }} - abgeholt<br />{% endif %}
        {{ order.last_modified }} - {{ order.status }} - {{ order.user }} {% if order.user_name %}- {{ order.user_name }}{% endif %}<br />

    {% endfor %}
    <br /><br />

    <a href="{% url kg.views_admin.orderhistory child.id menu.date.year menu.date.month %}" target="_blank"
       id="closeLink" style="outline-width: 0px !important; font-size: 90%; color: #036; text-decoration: underline;"
            >zur Monatsübersicht</a>

</div>

<script type="text/javascript">
  (function($) {
    $(document).ready(function () {
        $("#closeLink").click(function () {
            $(this).closest('.ui-dialog-content').dialog('close');
        });
    });
  })(django.jQuery);
</script>
