{% extends "admin_copies/change_list.html" %}
{% load i18n %}
{% load url from future %}
{% load fieldtags %}
{% load my_templatetags %}


{% block content %}
    {% with_setting OVERLOAD_SITE as OVERLOAD_SITE %}

  <div id="content-main">

    <h1>Ermäßigte Mittagessen</h1>
    
    <br />

    <form action="{% url 'kg.views_admin.statistik_reduction' %}" method="get">
    	{% csrf_token %}
		<table class="invisible">
		<tr>
    	 {% for fieldset in form.fieldsets %}  
     
	         {% for field in fieldset %}
	         	<td>  
	           {% if field.is_hidden %}  
	             {{ field }}  
	           {% else %}  
	         		{{ field.errors }}  
	         		{{ field.label_tag }}  
	         		{{ field }}     
	           {% endif %}
	           </td>  
	         {% endfor %}  
	   {% endfor %}
   		
   		<td><input type="submit" value="Ändern" /></td>
		</tr>
    	</table>
	</form>
    
	<h3>{{date|date:"m/Y"}}</h3>
	
	
	{% for reduction_row in reduction_data %}

		<h3>{{reduction_row.reduction_name}}</h3>

		<div style="padding-left:10px;">

            {% for facility_row in reduction_row.facility_data %}
            <h4 style="margin-bottom: 0;">{{facility_row.facility_name}}</h4>

            <table class="invisible" cellpadding="3" cellspacing="0">

                {% for child_row in facility_row.child_data %}
                    <tr>
                        <td style="white-space: nowrap; text-align:left; width:15em; padding-right: 1em;{% if forloop.first or forloop.last %}font-weight: bold;{% endif %}">
                            {{ child_row.child_name }}
                        </td>
                        <td style="white-space: nowrap;text-align:right;padding-right: 1em;{% if forloop.first or forloop.last %}font-weight: bold;{% endif %}">
                                {{ child_row.child_cust_nbr }}
                        </td>
                        {% if OVERLOAD_SITE == 'esl' %}
                            <td style="white-space: nowrap;text-align:right;padding-right: 1em;{% if forloop.first or forloop.last %}font-weight: bold;{% endif %}">
                                {{  child_row.customer_extra_attribute }}
                            </td>
                        {% endif %}
                        <td style="white-space: nowrap;text-align:left;width:10em; padding-right: 1em;{% if forloop.first or forloop.last %}font-weight: bold;{% endif %}">
                            {{ child_row.childreduction_reference_number }}
                        </td>
                        {% for sum in child_row.menu_sums %}
                            <td style="text-align:center;width:2em;{% if forloop.parentloop.first or forloop.parentloop.last %}font-weight: bold;{% endif %}">
                             {{ sum }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <br />
            {% endfor %}

		</div>

	{% endfor %}
    
  </div>
{% endblock %}