{% extends "admin_copies/change_list.html" %}
{% load i18n %}
{% load fieldtags %}
{% load url from future %}


{% block content %}
  <div id="content-main">

    <h1>Essenmarken</h1>
    
	<br />
 

  	
  	{% if error %}
		<div class="error">Fehler: {{error}}</div>
		<br />
	{% endif %}
  	
  	
  	{% if facility_form.errors %}
		<div class="warning"><p>Es sind Fehler aufgetreten. Bitte korrigieren Sie die markierten Felder.</p></div>
		<br />
	{% endif %}
  	
  	<form action="{% url 'kg.views_admin.voucher_index' %}" method="post" class="yform">
  		
  		{% csrf_token %}
  		
	   {% if facility_form.non_field_errors %}{{ facility_form.non_field_errors }}{% endif %}  
	   {% for fieldset in facility_form.fieldsets %}  
	     <fieldset class="{{ fieldset.classes }}">  
	       {% if fieldset.legend %}  
	         <legend>{{ fieldset.legend }}</legend>  
	       {% endif %}  
	       {% if fieldset.description %}  
	         <div class="description">{{ fieldset.description }}</div>  
	       {% endif %}  
	         
	         <table class="invisible">
	         {% for field in fieldset %}  
	           {% if field.is_hidden %}  
	             {{ field }}  
	           {% else %}
	           		<tr>  
		       		  <td class="align-right valign-middle">{{ field.label_tag }}</td>
		         	  <td class="align-left valign-middle">{{ field }}</td>
		         	<tr>       
	           {% endif %}  
	         {% endfor %}
	         </table>
	       
	     </fieldset>  
	   {% endfor %}
   
		<input type="submit" value="Herunterladen" />
	</form>
  
    <br /><br />
  
  	{% if child_form.errors %}
		<div class="warning"><p>Es sind Fehler aufgetreten. Bitte korrigieren Sie die markierten Felder.</p></div>
		<br />
	{% endif %}
  	
  	<form action="{% url 'kg.views_admin.voucher_index' %}" method="post" class="yform">
  		
  		{% csrf_token %}
  		
	   {% if child_form.non_field_errors %}{{ child_form.non_field_errors }}{% endif %}  
	   {% for fieldset in child_form.fieldsets %}  
	     <fieldset class="{{ fieldset.classes }}">  
	       {% if fieldset.legend %}  
	         <legend>{{ fieldset.legend }}</legend>  
	       {% endif %}  
	       {% if fieldset.description %}  
	         <div class="description">{{ fieldset.description }}</div>  
	       {% endif %}  
	         
	         <table class="invisible">
	         {% for field in fieldset %}  
	           {% if field.is_hidden %}  
	             {{ field }}  
	           {% else %}
	           		<tr>  
		       		  <td class="align-right valign-middle">{{ field.label_tag }}</td>
		         	  <td class="align-left valign-middle">{{ field }}</td>
		         	<tr>       
	           {% endif %}  
	         {% endfor %}
	         </table>
	       
	     </fieldset>  
	   {% endfor %}
   
		<input type="submit" value="Herunterladen" />
	</form>

     
  </div>
{% endblock %}