<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            <span>Stadt Jöhstadt</span><br />
            <span>Markt 185</span><br />
            <span>09477 Jöhstadt</span>
        </div>

        <span>E-Mail: schulessen@joehstadt.de</span>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
