{% load kg_context_tags %}
{% get_site_context as site %}
{% get_site_overload_content_dir as site_overload_content_dir %}

<!DOCTYPE html>
<html>
<head>
    <title>{%block title%}{%endblock%}</title>
    <style type="text/css">
    {% block style %}
        @page {
            size: A4;
            margin: 20mm 20mm 40mm 25mm;
            padding: 0;

            @bottom-right-corner {
                content: "Seite " counter(page) " von " counter(pages);
                font-size: 7pt;
                padding: 1em;
                text-align: right;
                vertical-align: bottom;
            }

        }

        @page :first {
            margin-top: 100mm;
            margin-right: 60mm;
        }

        .header-top {
            position: absolute;
            top: -90mm;
            left: 88mm;
        }

        .header-right {
            position: absolute;
            top: -57mm;
            left: 135mm;
            width: 45mm;
            color: #636362;
        }

        .return-address {
            position: absolute;
            top: -55mm;
            left: 0;
            font-size: 6pt;
            color: #636362;
        }

        .address {
            position: absolute;
            top: -45mm;
            left: 0;
            font-size: 10pt;
            line-height: 1.3em;
        }

        body { font-family: Arial, Verdana, Helvetica, sans-serif;
               font-size: 9pt;
               line-height: 1.3em;
               padding: 0;
               margin: 0;
        }

        .footer {
            position: fixed;
            margin-bottom: 0mm;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0;
            font-size: 7pt;
            line-height: 1.2em;
        }

        table { border-collapse: collapse; }
        td { padding: 0; margin: 0; }

        .font-sm { font-size: 8pt; }
        .font-xs { font-size: 7pt; }
        .line-height-xs { line-height: 1.3em; }

        .strong {font-weight:bold;}
        .center {text-align: center;}
        .right {text-align: right;}
        .top {vertical-align: top;}

        .bt1 {border-color: #000; border-top-width: 1px; border-top-style: solid;}
        .bb1 {border-color: #000; border-bottom-width: 1px; border-bottom-style: solid;}
        .bb2 {border-color: #000; border-bottom-width: 2px; border-bottom-style: solid;}
        .pt1 {padding-top:1mm}
        .pr1 {padding-right:1mm}

        .w1 {width:1mm;}
        .w5 {width:5mm;}
        .w10 {width:10mm;}
        .w15 {width:15mm;}
        .w20 {width:20mm;}
        .w25 {width:25mm;}
        .w30 {width:30mm;}
        .w35 {width:35mm;}
        .w40 {width:40mm;}
        .w50 {width:50mm;}
        .w60 {width:60mm;}
        .w80 {width:80mm;}
        .w100 {width:100mm;}

    {% endblock %}
  </style>
</head>
<body>


  <div class="header-top">
    {% block header-top %}
        <img src="file://{{ site_overload_content_dir }}/logo_pdf.png" />
    {% endblock header-top %}
  </div>

<div class="header-right">
    {% block header-right-top %}

        <br />
        <div class="font-xs line-height-xs">
			<br />
            <strong>WarnowService GmbH Bützow</strong><br />
            Am Forsthof 3<br />
            18246 Bützow<br />
            <br />
			Fon: 038461 / 450<br />
            Fax: 038461 / 451 14<br />
            <br />
			info@warnowservice.de<br />
			www.warnowservice.de<br />
			<br />
            <strong>Geschäftsführung</strong><br />
            Thomas Blum<br />
            <br />
            <strong>Bankverbindung</strong><br />
            Ostseesparkasse Rostock<br />
            KTO 705 007 987<br />
            BLZ 130 500 00<br />
            BIC NOLADE21ROS<br />
            IBAN DE65130500000705007987<br />
            <br />
            Amtsgericht Rostock HRB 7102<br />
            St.-Nr. 086/122/03009<br />
            FA Güstrow
		</div>
    {% endblock header-right-top %}
    {% block header-right-bottom %}{% endblock header-right-bottom %}
  </div>

  <div class="return-address">
      {% block return-address %}WarnowService GmbH · Am Forsthof 3 · 18246 Bützow{% endblock return-address %}
  </div>

  <div class="address">
      {% block address %}
          Anschrift
      {% endblock address %}
  </div>

  <div class="content">
    {% block content %}{% endblock content %}
  </div>
   	
	<div class="footer">
        {% block footer %}

        {% endblock footer %}
	</div>

</body>
</html>
