{% extends "kg/base.html" %}

{% block title %} - 404{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>404</h1>
    </div>

    <p>Die Seite konnte leider nicht gefunden werden.</p>

    <br /><br /><br /><br /><br /><br />
{% endblock %}