{% extends "kg/base.html" %}


{% block content %}
    <div class="page-header">
        <h1>Bitte Cookies aktivieren</h1>
    </div>

    <p>Um sich einloggen bzw. anmelden zu können, müssen Cookies in Ihrem Browser aktiviert sein.</p>

    <br /><br /><br /><br /><br /><br />

{% endblock content %}