form#flatratelist-search {
    margin-bottom: 5px;
}

.clearable{
  background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
  padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
}
.clearable.x  { background-position: right 5px center; }
.clearable.onX{ cursor: pointer; }
.clearable::-ms-clear {display: none; width:0; height:0;}

#result_list .child-row:not(:first-child) {
    border-top: 2px solid #d0d0d0;
} 
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.flatrate-state {
    padding: 3px;
    border: 1px solid #bbb;
    background-color: #fff;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}
.action-checkbox.active .flatrate-state {
    background-color: #ffff88;
    border: 1px solid #999;
}
.results {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#fixed-header {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
#quantity-edit {
  position: absolute;
  display: none;
}
#quantity-edit input[type="button"] {
  width: 16px;
  height: 18px;
  padding: 1px;
}
#quantity-edit input[type="button"]:first-child {
    margin-right: 16px;
}
