#order-results {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#order-results td {
  line-height: 17px;
}

#order-results .child-row:not(:first-child) {
  border-top: 2px solid #d0d0d0;
}

.fixed-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 175px;
}

#orderlist-search {
    margin-bottom: 10px;
}
#orderlist-search label > img {
    vertical-align: middle;
}
#orderlist-search > div {
    position: relative;
}

.clearable{
  background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
  padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
}
.clearable.x  { background-position: right 5px center; }
.clearable.onX{ cursor: pointer; }
.clearable::-ms-clear {display: none; width:0; height:0;}

.action-checkbox {
    cursor: pointer;
}

.action-checkbox > span {
    padding: 3px;
    border: 1px solid #bbb;
    background-color: #fff;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}

#quantity-edit {
  position: absolute;
  display: none;
}

.action-checkbox.ordered span {
    background-color: #ffff88;
    border: 1px solid #999;
}

#quantity-edit input[type="button"] {
  width: 1.5em;
  height: 1.6em;
  padding: 1px;
}

#quantity-edit input[type="button"]:first-child {
    margin-right: 17px;
}

#order-results .cn {
  min-width: 160px !important;
  width: 160px !important;
  word-break: break-all;
  font-weight: bold;
}
#order-results .cm {
  min-width: 35px !important;
  max-width: 35px !important;
  width: 35px !important;
  overflow: hidden;
  text-align: center;
}
#order-results .cd {
  min-width: 65px;
  width: 65px !important;
}
#order-results .co {
  word-break: break-all;
}
#order-table-header-wrap {
  width: 100%;
}

.danger {
    background-color: #f2dede;
}
