{% extends "admin_copies/change_list.html" %}

{% block extrahead %}
    {{ block.super }}
    
    <style>
    #overlay {
       visibility: hidden;
       position: absolute;
       left: 0px;
       top: 0px;
       width:100%;
       height:100%;
       text-align:center;
       z-index: 999;
       background-color:#000;
       opacity:0.5;
    }
    
    #my_prompt {
       position:absolute;
       visibility: hidden;
       width:300px;
       height:100px;
       text-align:center;
       z-index: 1000;
       background-color:#fff;
       left:0;
       right:0;
       top:0;
       bottom:0;
       margin:auto;
       border-radius: 5px;
       -webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
       box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
       padding: 0px 0px 10px 0px;
    }
    
    .title{
       color: #fff;
       font-size: 14px;
       padding: 7px;
       background-color:  #448BC9;
       border-radius: 5px 5px 0px 0px;
       margin: 0px 0px 10px 0px;
    }
    
    #my_prompt input{
        border: solid #808080 2px;
        font-size: 17px;
        margin: 0px 0px 10px 0px;
    }
    
    #my_prompt button{
        font-size: 13px;
    }
    </style>
{% endblock %}
    
{% block docreadyjs %}
  {{ block.super }}
  $('.load_transactions').click(function(e){
      e.preventDefault();
      
      var url = $(this).attr('href');
      var token = $('input[name=csrfmiddlewaretoken]').attr('value');
      
      var my_promt = '<div id="overlay"></div>';
      my_promt = my_promt + '<div id="my_prompt"><div class="title">Eingeben PIN</div><form method="POST" action="'+url+'"><input type="hidden" name="csrfmiddlewaretoken" value="'+token+'"/><input type="password" name="pin" value="" /><br/><button id="btn_cancle" type="button">Abbestellen</button><button type="submit">OK</button></form></div>';
      
      $('body').append(my_promt);
      
      $('#btn_cancle').click(function(){
          $('#overlay').remove();
          $('#my_prompt').remove();
          $('#btn_cancle').unbind('click');
      });
      
      $('#overlay').css('visibility', 'visible');
      $('#my_prompt').css('visibility', 'visible');
  });
{% endblock %}

{% block content %}
    {{ block.super }}
    {{ csrftoken }}
{% endblock %}
