{% load i18n %}
{% load url from future %}

<form action="{% url 'reports:report_day' %}" method="get" style="margin:10px;">
    <input type="hidden" name="dayreport" value="1"/>
    <input type="hidden" name="fc" value="all"/>
    <input type="hidden" name="ordered-only" value="1">
    <input type="submit" value="Tagesliste für heute" />
</form>

<!--
<form action="{% url 'reports:report_day' %}" method="get" style="margin:10px;">
    <input type="hidden" name="dayreport" value="2"/>
    <input type="hidden" name="fc" value="all"/>
    <input type="hidden" name="date" value="{{date|date:'d.m.Y'}}"/>
    <input type="submit" value="FAX Tagesliste für heute" />
</form>
-->

<form action="{% url 'reports:report_day' %}" method="get" style="margin:10px;">
    <input type="hidden" name="dayreport" value="3"/>
    <input type="hidden" name="fc" value="all"/>
    <input type="hidden" name="date" value="{{date|date:'d.m.Y'}}"/>
    <input type="submit" value="Allergiker Tagesliste für heute" />
</form>

<form action="{% url 'reports:report_week' %}" method="get" style="margin:10px;">
    <input type="hidden" name="weekreport" value="1"/>
    <input type="submit" value="Wochenliste nächste Woche" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'reports:index' %}">Weitere Listen</a>
</form>
