<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            <span class="title">Schulmenüplaner</span>
            <span>Ralph Meyer</span>
        </div>

        <span>Ahornstraße 44, 09112 Chemnitz</span><br/>
        <span>Telefon: <span class="highlighted">+49 371 2355089</span></span><br/>
        <span>E-Mail: <span class="highlighted">ralph.meyer(at)hycomat.com</span></span>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/neuigkeiten/">Neuigkeiten</a><br/>
            <a href="/impressum/">Impressum</a><br/>
            <a href="/datenschutzerklaerung/">Datenschutzerklärung</a><br/>
            <a href="/agb/">Unsere AGB</a>
        </div>

        <div class="block">
            <span class="title">Hilfe</span>
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de" class="highlighted">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
