<small>
    {% if MENU_SUBTEXT %}<div class="menu_subtext w90">{{MENU_SUBTEXT|safe}}</div>{% endif %}
    {% if MENU_FOOTER_LINE_1 %}<div class="menu_footer w90">{{MENU_FOOTER_LINE_1|safe}}</div>{% endif %}
    {% if MENU_ADDITIVES %}
        <href name="zua"></href>
        <div class="menu_additives">Zusatzstoffe und Allergene:
            <a href="#zua" class="menu_additives_toggle_link" style="display: none;">
                <span class="menu_additives_toggle_link_text1" style="display: none;">anzeigen &#9662;</span>
                <span class="menu_additives_toggle_link_text2" style="display: none;">ausblenden &#9652;</span>
            </a>
        </div>

        <div class="menu_additives_div sm">
            {{MENU_ADDITIVES|safe}}
        </div>
    {% endif %}
</small>
