{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a class="btn btn-xs btn-default" href="?page={{ page_obj.previous_page_number }}">Früher</a>
        {% endif %}
        <span class="current">Seite {{ page_obj.number }} von {{ paginator.num_pages }}</span>
        {% if page_obj.has_next %}
        <a class="btn btn-xs btn-default" href="?page={{ page_obj.next_page_number }}">Nächster</a>
        {% endif %}
    </span>
</div>
{% endif %}
