{% spaceless %}
<div class="brief-order-status">
    {% for abbr in mealtimes %}
    <span class="ordered-mealtime">{{ abbr|slice:"1" }}</span>
    {% endfor %}
    {% if lunches %}
        <span class="lunch-desc">{{ lunches.0|truncatechars:45 }}</span>
    {% endif %}
</div>
{% endspaceless %}
