{% load kg_context_tags %}
{% get_site_context as site %}
{% get_site_overload_content_dir as site_overload_content_dir %}

<!DOCTYPE html>
<html>
<head>
    <title>{%block title%}{%endblock%}</title>
    <style type="text/css">
    {% block style %}
        @page {
            size: A4;
            margin: 20mm 20mm 40mm 25mm;
            padding: 0;

            @bottom-right-corner {
                content: "Seite " counter(page) " von " counter(pages);
                font-size: 7pt;
                padding: 1em;
                text-align: right;
                vertical-align: bottom;
            }

        }

        @page :first {
            margin-top: 100mm;
        }

        .header-top {
            position: absolute;
            top: -80mm;
        }

        .header-right {
            position: absolute;
            top: -85mm;
            left: 100mm;
        }

        .return-address {
            position: absolute;
            top: -55mm;
            left: 0;
            font-size: 6pt;
        }

        .address {
            position: absolute;
            top: -45mm;
            left: 0;
            font-size: 10pt;
            line-height: 1.3em;
        }

        body { font-family: Arial, Verdana, Helvetica, sans-serif;
               font-size: 9pt;
               line-height: 1.3em;
               padding: 0;
               margin: 0;
        }

        .footer {
            position: fixed;
            margin-bottom: -33mm;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0;
            font-size: 7pt;
            line-height: 1.2em;
        }

        table { border-collapse: collapse; }
        td { padding: 0; margin: 0; }

        .font-sm { font-size: 8pt; }
        .font-xs { font-size: 7pt; }
        .line-height-xs { line-height: 1.3em; }
        .font-header { font-size: 20pt;}

        .strong {font-weight:bold;}
        .center {text-align: center;}
        .right {text-align: right;}
        .top {vertical-align: top;}

        .bt1 {border-color: #000; border-top-width: 1px; border-top-style: solid;}
        .bb1 {border-color: #000; border-bottom-width: 1px; border-bottom-style: solid;}
        .bb2 {border-color: #000; border-bottom-width: 2px; border-bottom-style: solid;}
        .pt1 {padding-top:1mm}
        .pr1 {padding-right:1mm}

        .w1 {width:1mm;}
        .w5 {width:5mm;}
        .w10 {width:10mm;}
        .w15 {width:15mm;}
        .w20 {width:20mm;}
        .w25 {width:25mm;}
        .w30 {width:30mm;}
        .w35 {width:35mm;}
        .w40 {width:40mm;}
        .w50 {width:50mm;}
        .w60 {width:60mm;}
        .w80 {width:80mm;}
        .w100 {width:100mm;}

    {% endblock %}
  </style>
</head>
<body>


  <div class="header-top">
  </div>

  <div class="header-right">
    {% block header-right-top %}
        <img src="file://{{ site_overload_content_dir }}/logo_pdf.png" />
        <br /><br /><br />
        <div class="font-xs strong">
            <table>
                <tbody>
                    <tr><td>Ansprechpartner:&nbsp;&nbsp;&nbsp;&nbsp;</td><td>Petra Bodenstein</td></tr>
                    <tr><td>Telefon:</td><td>+49 (0) 3672 3141-25</td></tr>
                    <tr><td>Fax:</td><td>+49 (0) 3672 3141-18</td></tr>
                    <tr><td>E-Mail:</td><td>p.bodenstein@awo-rudolstadt.de</td></tr>
                    <tr><td>Usere Zeichen/<br/>Nachricht vom:</td><td class="top">Ko/Bo</td></tr>
                    <tr><td>Datum:</td><td>{% block header-right-bottom %}{% endblock header-right-bottom %}</td></tr>
                </tbody>
            </table>
		</div>
    {% endblock header-right-top %}
  </div>

  <div class="return-address">
      {% block return-address %}<span class="strong">AWO Geschäftsstelle · Weststraße 11 · 07407 Rudolstadt</span>{% endblock return-address %}
  </div>

  <div class="address">
      {% block address %}
          Anschrift
      {% endblock address %}
  </div>

  <div class="content">
    {% block content %}{% endblock content %}
  </div>
   	
	<div class="footer strong">
        {% block footer %}
            <table style="width: 100%">
              <tbody>
                <tr>
                     <td class="top" style="width: 5cm;">
                         AWO Soziale Dienste Rudolstadt gGmbH<br />
                         Weststraße 11<br />
                         07407 Rudolstadt<br />
                         Tel. +49 (0) 3672 3141-10<br />
                         Fax  +49 (0) 3672 3141-18<br />
                         E-Mail geschaeftsstelle@awo-rudolstadt.de<br />
                         <br />
                         www.awo-rudolstadt.de
                    </td>
                    <td class="top" style="width: 5.5cm;">
                        Geschäftsführer: Hans-Heinrich Tschoepke<br />
                        Aufsichtsratvorsitzende: Petra Rottschalk<br />
                        <br />
                        Amtsgericht Jena<br />
                        HRB 209123<br />
                        UStIdNr.: DE185695623
                    </td>
                    <td class="top" style="width: 5cm;">
                        KSK Saalfeld-Rudolstadt<br />
				        BLZ 830 503 03 Konto 455 733
                        IBAN: DE03 8305 0303 0000 4557 33<br />
                        BIC: HELADEF1SAR<br />

                    </td>
                </tr>
              </tbody>
            </table>
        {% endblock footer %}
	</div>

</body>
</html>
