<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>
{%block title%}	
{%endblock%}
</title>
<style type="text/css">
{% block style %}
	@page {
		size: A4;
		margin: 0;

        @frame headerTop {
		    -pdf-frame-content: headerTopContent;
		    left: 2.5cm;
    		top: 1.5cm;
    	}

        @frame headerRight {
		    -pdf-frame-content: headerRightContent;
    		top: 7cm;
            left: 16.5cm
    	}

    	@frame body {
		    -pdf-frame-content: bodyContent;
    		top: 4.5cm;
    		margin: 0 2.5cm;
    	}

		@frame footer {
		    -pdf-frame-content: footerContent;
		    top: 27cm;
		    margin: 0 2.5cm;
		  }

        @frame faltmarke-oben {
            -pdf-frame-content: faltmarkeContent;
            left: 0.5cm;
            top: 10.5cm;
            width: 0.3cm;
        }

        @frame faltmarke-unten {
            -pdf-frame-content: faltmarkeContent;
            left: 0.5cm;
            top: 21cm;
            width: 0.3cm;
        }
	}
	

	
	body {font-size: 11px;}
	
	
	
	.w1 {width:1cm;}
	.w1-5 {width:1.5cm;}
	.w2 {width:2cm;}
	.w3 {width:3cm;}
	.w4 {width:4cm;}
	.w5 {width:5cm;}
	.w6 {width:6cm;}
	
	.nowrap {white-space:nowrap;}
	
	.header  {font-size:16px; font-weight:bold;}

    .footer {font-size: 10px;}

    .small {font-size:9px;}
	.extrasmall {font-size:8px;}
    .address {font-size: 12px;}

	
	.strong {font-weight:bold;}
	
	.center {text-align: center;}
	.right {text-align: right;}

    .top {vertical-align: top;}
	
	.bt1 {border-color: #000; border-top-width: 1px; border-top-style: solid;}
	.bb1 {border-color: #000; border-bottom-width: 1px; border-bottom-style: solid;}
	.bb2 {border-color: #000; border-bottom-width: 2px; border-bottom-style: solid;}
	
	.pt1 {padding-top:1mm}
	.pr1 {padding-right:1mm}	

{%endblock%}	
</style>
</head>
<body>

    <div id="faltmarkeContent"><hr style="color: #444; width: 1pt; margin-top: 0;"/></div>

	<div id="headerTopContent">
        <img src="{{ STATICFILES_DIR }}/img/logo_header_pdf.png" />
    </div>

    <div id="headerRightContent">
        {{reminder.create_date|date:"d.m.Y"}}
    </div>

    <div id="bodyContent">
        {% autoescape off %}
            {{ reminder.content }}
        {% endautoescape %}
    </div>
   	
   	
   	
	<div id="footerContent" class="small">
        Dieses Schreiben wurde maschinell erstellt und trägt deshalb keine Unterschrift.
        <hr style="width: 1px; margin-top: 0;"/>
        <table>
            <tbody>
                <tr>
                    <td class="top" style="width: 30%;">
                        Gemeinde Ostseeheilbad Zingst<br />
                    </td>
                    <td class="top" style="width: 35%;">
                        Hanshäger Straße 1<br />
                        18374 Zingst<br />
                        Tel.: 038232 - 169621<br />
                        E-Mail: schulkueche@zingst.de<br />
                    </td>
                    <td class="top" style="width: 35%;">
                        Bankverbindung:<br />
                        Sparkasse Vorpommern<br />
                        IBAN: DE03 1505 0500 0000 0006 04<br />
                        BIC: NOLADE21GRW
                    </td>
                </tr>
            </tbody>
        </table>
	</div>

</body>
</html>