{% extends "admin_copies/change_list.html" %}
{% load i18n staticfiles %}
{% load url from future %}

{% block extrastyle %}
    {{ block.super }}
    <link href="{{STATIC_URL}}datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <style type="text/css" media="all">
        select.facilities {
            width: 250px;
            height: 100px;
            margin-bottom: 5px;
        }
        hr {
            margin: 20px 0;
        }
    </style>
{% endblock extrastyle %}

{% block content %}
  <div id="content-main">
    <h1>Essenbestellungen Listen</h1>
	<br />
  	<h3>Tagesliste:</h3>
	<form action="{% url 'reports:report_day' %}" method="GET">
		<input type="hidden" name="dayreport" value="1" />
		<div class="form-control">
        <select name="fc" id="id-facilities" class="facilities" multiple="true" size="10">
            <option value="all" selected>Alle</option>
            {% for facility in facilities %}
            <option value="{{ facility.id }}">{{ facility.name }}</option>
            {% endfor %}
        </select>
        </div>
		<div class="form-control">
            <label><input type="checkbox" checked="true" name="ordered-only">Nur Kinder mit Bestellung ausgeben</label>
        </div>
		<div class="form-control">
            <label><input type="checkbox" name="subunit-page">Jede Gruppe/Klasse auf neue Seite</label>
		</div>
		<div class="form-control">
            <input type="text" name="date" class="datepicker" value="{{date|date:'d.m.Y'}}" />
            <input type="submit" value="PDF abrufen" />
		</div>
	</form>
    <hr />

	{% if REPORT_WEEK_DETAILED %}
	<h3>Wochenliste{% if OVERLOAD_SITE == 'KUECHENGEISTER' %} Kindergärten{% endif %} (ausführlich):</h3>
	<form action="{% url 'reports:report_week' %}" method="get">
		{% csrf_token %}
		<div class="form-control">
            <select name="facility" id="id-facility" class="facilities" size="10">
                {% for facility in facilities %}
                <option value="{{ facility.id }}">{{ facility.name }}</option>
                {% endfor %}
            </select>
        </div>
		<div class="form-control">
            <label><input type="checkbox" checked="true" name="ordered-only">Nur Kinder mit Bestellung ausgeben</label>
        </div>
		<input type="hidden" name="weekreport" value="2">
	    {% for fieldset in form_week.fieldsets %}
	         {% for field in fieldset %}
				{{ field }}
	         {% endfor %}
		{% endfor %}
		<input type="submit" value="PDF abrufen" disabled/>
	</form>
	<hr />
	{% endif %}
	
	<h3>Wochenliste:</h3>
	<form action="{% url 'reports:report_week' %}" method="get">
	    {% for fieldset in form_week.fieldsets %}
	         {% for field in fieldset %}  
				{{ field }}
	         {% endfor %}  
		{% endfor %}
		<input type="hidden" name="weekreport" value="1">
		<input type="submit" value="PDF abrufen" />
	</form>
    
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/3.3.5/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'datepicker/js/bootstrap-datepicker.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'datepicker/locales/bootstrap-datepicker.de.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
  {{ block.super }}
{% endblock %}

{% block docreadyjs %}
    {{ block.super }}
    $('.datepicker').datepicker({format: 'dd.mm.yyyy', weekStart: 1, language: 'de', autoclose: true});
    $('#id-facility').bind('click change', function(e){
        if (this.value != null) {
            $(this).closest('form').find('input[type="submit"]').prop('disabled', false);
        }
    });
{% endblock docreadyjs %}
