{% load report_tags %}
<table class="sum_table">
        <tr>
            <td class="strong">Artikel</td>
            <td class="strong" style="width: 1.5cm;">Anzahl</td>
        </tr>

	    {% for row in sum_list %}
            <tr>
                <td>{{ row.name }}</td>
                <td class="right">{{ row.total }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td class="strong">Gesamt</td>
            <td class="strong right">{{ total_sum }}</td>
        </tr>
</table>


{% for unit in unit_list  %}
    {% insert_page_break %}

    <p style="font-size: 130%; font-weight:bold;">{{ unit.unit_name }}</p>
    <table class="list_table">
            <tr>
                <td class="strong">Mitarbeiter</td>
                <td class="strong">Artikel</td>
                <td class="strong" style="width: 1.5cm;">Anzahl</td>
            </tr>

            {% for row in unit.row_list %}
                {% for order in row.orders %}
                    <tr>
                        {% if forloop.first %}
                            <td rowspan="{{ row.orders|length }}" class="top">
                                {{ row.child.name }}, {{ row.child.surname }}<br />
                                <strong>{{ row.counter }}</strong>
                            </td>
                        {% endif %}
                        <td class="top">{{ order.menu.description }}</td>
                        <td class="right top">{{ order.quantity }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}

            <tr>
                <td colspan="2" class="strong">Gesamt</td>
                <td class="strong right">{{ unit.unit_total }}</td>
            </tr>
    </table>
{% endfor %}
