<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            <span>Schulküche Zingst</span>
        </div>

        <span>Schulstraße 1</span><br/>
        <span>18374 Seeheilbad Zingst</span><br/>
        <span>Telefon: 038232 - 169621</span><br/>
        <span>E-Mail: schulkueche@zingst.de</span>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
