.header-h1 {color:#6ca80e; padding-top: 5px; font-size: 250%; margin-bottom: 5px;}
.header-h1 a, .header-h1 a:visited, .header-h1 a:focus, .header-h1 a:hover, .header-h1 a:active {color: #6ca80e; text-decoration: none; background: none;}

div.actions {padding-bottom: 15px; border-bottom: 2px solid #6ca80e;}

@media screen and (max-width: 1000px) {

    .header-h1 {padding-top: 10px; font-size: 200%; line-height: 1;}
    div.actions { padding-bottom: 20px; }

}

@media screen and (max-width: 900px) {

    .header-h1 {padding-top: 10px; font-size: 150%; line-height: 1;}
    div.actions { padding-bottom: 25px; }
}


@media screen and (max-width: 450px){
    .header-h1 {padding-top: 5px; font-size: 150%; text-align: center; line-height: 1;}
    div.actions {padding-bottom: 0; border-bottom: 0;}
}

