.header-h1 {color:#6ca80e; font-size: 250%; margin: 10px 0 20px 10px;}
.header-h1 a, .header-h1 a:visited, .header-h1 a:focus, .header-h1 a:hover, .header-h1 a:active {color: #6ca80e; text-decoration: none; background: none;}

div.actions {border-bottom: 2px solid #6ca80e;}


@media screen and (max-width: 750px){

}


@media screen and (max-width: 580px){
    .header-h1 {color:#6ca80e; font-size: 200%; margin-bottom: 5px; text-align: center; line-height: 1;}
     div.actions {padding-bottom: 0; border-bottom: 0;}
}

