{% load report_tags %}
<p class="strong">Zličbowanka/ Rechnung za/für {{invoice.creation_date|date:"F"}} {{invoice.creation_date|date:"Y"}}<br /></p>

<table>
  <tr>
    <td class="w40 top">Rechnungsnummer:</td>
    <td class="top">{{ invoice.invoice_number }}</td>
  </tr>
  <tr>
    <td class="top">Mjeno/ Essenteilnehmer:</td>
    <td class="top">{{invoice.child.surname}} {{invoice.child.name}}</td>
  </tr>
  <tr>
    <td class="top">Kundennummer:</td>
    <td class="top">{{ invoice.child.cust_nbr }}</td>
  </tr>
  <tr>
    <td class="top">Zeitraum:</td>
    <td class="top">{{ invoice.from_date|date:"d.m.Y" }} bis {{ invoice.to_date|date:"d.m.Y" }}</td>
  </tr>
  <tr>
    <td class="top">Zarjadnišćo/ Einrichtung:</td>
    <td class="top">{{ invoice.facility }}</td>
  </tr>
</table>

<br /><br />

<table>
  <tbody>
    {% for row in invoice.invoice_items %}
      <tr>
        <td class="w100 top">&nbsp;{{row.text}}</td>
        <td class="w20 right top pr1">{{row.price|floatformat:2}} €</td>
      </tr>
    {% endfor %}
    {% if INVOICE_SHOW_TAX %}
      <tr>
        <td class="right pt1 bt1">Enthaltene MwSt. ({{ TAX_RATE }}%)</td>
        <td class="right pt1 pr1 bt1">{{ invoice.tax|floatformat:2 }} €</td>
      </tr>
    {% endif %}
    <tr>
        <td class="strong right pt1 bt1 bb2">Suma/ Gesamtbetrag</td>

        <td class="w2 right strong pt1 pr1 bt1 bb2">{{invoice.subtotal|floatformat:2}} €</td>
    </tr>
    {% for row in invoice.additionals %}
        <tr>
            <td class="left pt1 pr1">&nbsp;&nbsp;{{row.text}}</td>
            <td class="w2 right pt1 pr1">{{row.price|floatformat:2}} €</td>
        </tr>
    {% endfor %}
    {% if invoice.additionals %}
       <tr>
            <td class="strong right pt1 bt1 bb2">Suma/ Zu zahlender Betrag</td>
            <td class="w2 right strong pt1 pr1 bt1 bb2">{{invoice.total|floatformat:2}} €</td>
        </tr>
    {% endif %}
  </tbody>
</table>



<div>
  <br />
  {% if  invoice.total <= 0 %}
        Die Rechnung wurde durch Ihr bestehendes Guthaben ausgeglichen.<br />
        {% if invoice.total < 0 %}
            Das verbleibende <strong>Guthaben</strong> in Höhe von <strong>{{invoice.total|floatformat:2|slice:"1:"}} Euro</strong> wird mit zukünftigen Rechnungen verrechnet.
        {% endif %}
    {% else %}
        {% if invoice.pay_type == "INVOICE" %}
            Bitte überweisen Sie den Gesamtbetrag von <strong>{{ invoice.total|floatformat:2 }} Euro</strong> bis zum <strong>{{ invoice.pay_until|date:'d.m.Y' }}</strong> auf unten genanntes Konto.<br />
            <br />
            <span class="strong">Geben Sie bitte folgenden Verwendungszweck an: {{ invoice.invoice_number }} {{invoice.child.name}}, {{invoice.child.surname}}</span>
        {% endif %}
        {% if  invoice.pay_type == "DEBIT" %}
            Den zu zahlenden Betrag von <strong>{{ invoice.total|floatformat:2 }} Euro</strong> buchen wir am <strong>{{ invoice.pay_until|date:'d.m.Y' }}</strong> von Ihrem Konto
            IBAN {{ invoice.bank_account_iban }} unter Verwendung der Gläubiger-ID {{ SEPA_CREDITOR_ID }} ab. Das Mandat dazu führen wir unter der Nummer {{ invoice.sepa_mandate_id }}.<br />
            <br />
            Bitte sorgen Sie für ausreichende Deckung und haben Sie Verständnis dafür, dass wir Ihnen Kosten in Rechnung stellen müssen, die uns durch eine etwaige Rücklastschrift entstehen.
        {% endif %}
        {% if invoice.pay_type == "PREPAID" %}
            Zahlung per Vorkasse erhalten
        {% endif %}
        {% if  invoice.pay_type != "INVOICE" and invoice.pay_type != "DEBIT" and invoice.pay_type != "PREPAID" %}
            Bitte zahlen Sie den fälligen Gesamtbetrag von <strong>{{ invoice.total|floatformat:2 }} Euro</strong> bis zum <strong>{{ invoice.pay_until|date:'d.m.Y' }}</strong>.
        {% endif %}
    {% endif %}
  <br />
</div>

<div>
  <br />
  <p>Mit freundlichen Grüßen<br />
      <br />
    {{INVOICE_COMPANY_NAME}}</p>
</div>


{% for range in order_ranges %}
    {% insert_page_break %}

    Mjeno/ Essenteilnehmer: {{invoice.child.surname}} {{invoice.child.name}}<br />
    Rechnungsnummer: {{invoice.invoice_number}}<br />
    <br />

    {%  if forloop.first %}
        Im Zeitraum {{invoice.from_date|date:"d.m.Y"}} bis {{invoice.to_date|date:"d.m.Y"}} hat {{invoice.child.surname}} {{invoice.child.name}} wie
        folgt an der Essensversorgung teilgenommen:<br />
    {% endif %}

    <table style="width: 100%; margin-top: 4mm;" class="order-table">
      <tbody>
        <tr>
          {% for pos in range %}
          <td style="width: 50%" class="top">
            <table style="width: 100%">
            <tbody>
                {% for row in invoice.orders|slice:pos %}
                <tr class="order-row font-sm">
                    {%  if not forloop.parentloop.first %}
                        <td class="w1">&nbsp;</td>
                    {% endif %}
                    <td class="w10 top font-sm">{{ row.date|date:"d.m.y" }}</td>
                    <td class="w30 top desc font-sm">
                        {{ row.text }}{% if row.reduction %} (Ermäßigung){% endif %}
                    </td>
                    <td class="w10 top right font-sm">{{ row.quantity }}</td>
                    <td class="w10 top right font-sm">{{ row.price }} €</td>
                    {%  if forloop.parentloop.first %}
                        <td class="w1">&nbsp;</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            </table>
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
{% endfor %}
