{% load report_tags %}

<p class="strong">
{%  if reminder.type == 1 %}
    Zahlungserinnerung / 1. Mahnung
{% endif %}
{%  if reminder.type == 2 %}
    2. Mahnung
{% endif %}
{%  if reminder.type == 3 %}
    Letzte Mahnung
{% endif %}
<br /><br />
</p>

<div>
    Sehr geehrte{% if customer.title == "Herr" %}r{% endif %} {{customer.title}} {{customer.name}},
    <br /><br />
    {%  if reminder.type == 1 %}
        wir haben festgestellt, dass Sie bisher nicht alle unsere Rechnungen beglichen haben.
        Sicherlich haben Sie nur übersehen, diese rechtzeitig zu bezahlen.
        <br /><br />
    Folgender Übersicht können Sie entnehmen, welche Beträge noch offen sind:
    {% endif %}
    {%  if reminder.type == 2 %}
        wir haben Sie bereits mit dem Schreiben vom {{ last_reminder.create_date|date:'d.m.Y' }} daran erinnert, dass Sie noch nicht alle unsere Rechnungen beglichen haben.
        <br /><br />
    Folgender Übersicht können Sie entnehmen, welche Beträge noch offen sind:
    {% endif %}
    {%  if reminder.type == 3 %}
        wir haben trotz unserer Mahnung vom {{ last_reminder.create_date|date:'d.m.Y' }} mit Fristsetzung {{ last_reminder.pay_until|date:'d.m.Y' }} festgestellt, dass weiterhin folgende Beträge offen stehen:
    {% endif %}
</div>

<br />

<table>
    <tbody>
    <tr>
          <td class="w100 strong">Art der Forderung</td>
          <td class="w20 strong right pr1">Betrag</td>
    </tr>
    {% for row in data %}
        <tr>
            <td {% if forloop.first %}class="pt1 bt1"{% endif %}>{{row.description}}</td>
            <td class="w20 right pr1{% if forloop.first %} pt1 bt1{% endif %}">{{row.amount|floatformat:2}} €</td>
        </tr>
    {% endfor %}

    {% if reminder_fee > 0 %}
        <tr>
            <td class="pt1 bt1">Summe der offenen Beträge</td>
            <td class="right pr1 pt1 bt1">{{ subtotal|floatformat:2 }} €</td>
        </tr>
        <tr>
            <td>Mahnkosten</td>
            <td class="right pr1">{{ reminder_fee|floatformat:2 }} €</td>
        </tr>
    {% endif %}
    <tr>
        <td class="strong right pt1 bt1 bb2">Gesamtbetrag</td>
        <td class="right strong pr1 pt1 bt1 bb2">{{ reminder.total|floatformat:2 }} €</td>
    </tr>
    </tbody>
</table>

<p>
    {% if reminder.type == 1 %}
      Bitte überweisen Sie den Gesamtbetrag in Höhe von <span class="strong">{{ reminder.total|floatformat:2 }} Euro</span>
      bis zum <span class="strong">{{ reminder.pay_until|date:'d.m.Y' }}</span> auf unten genanntes Konto.
    {% endif %}
    {% if reminder.type == 2 %}
      Wir konnten trotz der letzten Erinnerung bisher keinen Zahlungseingang verbuchen.<br />
      Wir bitten Sie deshalb erneut, den Gesamtbetrag in Höhe von <span class="strong">{{ reminder.total|floatformat:2 }} Euro</span>
      bis zum <span class="strong">{{ reminder.pay_until|date:'d.m.Y' }}</span> auf unten genanntes Konto zu überweisen.
    {% endif %}
    {% if reminder.type == 3 %}
      Bitte überweisen Sie den Gesamtbetrag in Höhe von <span class="strong">{{ reminder.total|floatformat:2 }} Euro</span> sofort und ohne weitere Verzögerungen auf das angegebene Konto.<br />
      Wenn der Betrag nicht bis zum <span class="strong">{{ reminder.pay_until|date:'d.m.Y' }}</span> eingegangen ist, werden wir rechtliche Schritte einleiten.
    {% endif %}

    <br /><br />Geben Sie bitte folgenden Verwendungszweck an: <span class="strong">{{ reminder.number }} {{customer.name}}{% if customer.surname %}, {{customer.surname}}{% endif %}</span>
    {% if reminder_fee %}
        <br /><br />Sollten Sie die aufgeführten Beträge zwischenzeitlich überwiesen haben, gleichen Sie bitte noch die angefallenen Mahnkosten aus.</p>
    {% endif %}
</p>
<p>Mit freundlichen Grüßen<br />{{INVOICE_COMPANY_NAME}}</p>

