{% load url from future %}
{% load my_templatetags %}

<div id="auth-box" class="auth-box">
    <div class="inner-box{% if user.is_authenticated %} user-info{% endif %}">
        <a href="#" class="modal_close">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>

        {% if user.is_authenticated %}
            {# Authorized login form #}
            <a class="btn btn-primary btn-sm" href="{% if user.is_staff %}{% url 'kg.views_admin.index' %}{% else %}{% url 'kg.views_kunden.index' %}{% endif %}">{% if user.is_staff %}Verwaltung{% else %}Kundenbereich{% endif %}</a>&nbsp;
            <a href="{% url 'django.contrib.auth.views.logout' %}" class="btn btn-default btn-sm">Abmelden</a>

            {% with_setting MODULE_PREPAID as MODULE_PREPAID %}
            {% if MODULE_PREPAID and not user.is_staff %}
                <p class="header-account-balance">
                    Guthaben: <span id="header_account_balance_value">{{ user.customer.account_balance }}</span> &euro;
                </p>
            {% endif %}
        {% else %}
            {# Unauthorized login form #}
            <form action="{% url 'django.contrib.auth.views.login' %}" method="post" id="login_form">
                <ul class="auth-form">
                    <li class="forgot-password-box">
                        <a class="forgot-password" href="{% url 'kg.views_registrierung.password_lost' %}" rel="nofollow">Passwort vergessen?</a>
                    </li>
                    <li class="username-box">
                        <div class="input-group input-group-sm">
                            <input type="text" id="email" name="username" tabindex="1" class="form-control" placeholder="E-Mail" maxlength="75" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false"/>
                        </div>
                    </li>
                    <li class="password-box">
                        <div class="input-group input-group-sm">
                            <input type="password" id="pass" name="password" tabindex="2" class="form-control" placeholder="Passwort" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false"/>
                        </div>
                    </li>
                    <li class="login-button-box">
                        {% csrf_token %}
                        <button id="login_submit" tabindex="3" type="submit" class="btn btn-primary btn-sm" aria-label="Left Align">
                            Anmelden
                        </button>
                    </li>
                </ul>
            </form>
            <br class="clear"/>
        {% endif %}
    </div>
</div>
