{% extends "kg/base.html" %}
{% load fieldtags %}
{% load flatpages %}
{% load my_templatetags %}


{% block messages %}
	{# Load flatpage for home content #}
    {% comment "Erstmal keine Neuigkeiten" %}
    {% get_flatpages '/neuigkeiten/' as message_pages %}
    {% for page in message_pages %}
    	{% if forloop.counter == 1 %}
    		{% autoescape off %}
                {{ page.content }}
    		{% endautoescape %}
    	{% endif %}
    {% endfor %}
    {% endcomment %}
{% endblock messages %}

{% block extrastyle %}
<style type="text/css" media="all">
    @media screen and (min-width: 451px){
        .header .navbar.navigation {
            display: none;
        }
    }
</style>
{% endblock %}

{% block content %}
	{# Load flatpage for home content #}
	<div class="row">
    <div class="{% if registration %}col-sm-8 col-md-9 col-lg-9{% else %}col-sm-12{% endif %}">
      {% get_flatpages '/' as index_pages %}
      {% for page in index_pages %}
        {% if forloop.counter == 1 %}
          {% autoescape off %}
            {{ page.content }}
          {% endautoescape %}
        {% endif %}
      {% endfor %}
    </div>
    {% if registration %}
    <div class="col-sm-4 col-md-3 col-lg-3 right-panel">
      {% include "kg/partials/registration_panel.html" %}
    </div>
    {% endif %}
	</div>

    {% comment "Erstmal keine Speisepläne" %}
	{% show_index_menu mealplan=1 week_total=4 %}
	{% endcomment %}

{% endblock content %}

{% block docreadyjs %}
	
	$('.tabnav').show();
	$('.tabnav_under').show();
	
	{% for week in weeks %}
		{% if week.week == selected %}
			$('#tabbed_content_{{week.week}} > #no_items').show();
		{% else %}
			$('#tabbed_content_{{week.week}}').hide();
		{% endif %}
	{% endfor %}
 
	$('a[id^="tab_"]').click(function() {
		
		$('a[id^="tab_"]').parent().removeClass("active");
		$(this).parent().addClass("active");
		$('div[id^="tabbed_content_"]').hide();
		
		actual_id = $(this).attr("id").substring(4);
		$('#tabbed_content_' + actual_id).show();
		$('#tabbed_content_' + actual_id + '> #no_items').show();

	});


    $('.menu_additives_toggle_link').show();
    $('.menu_additives_toggle_link_text1').show();
    $('.menu_additives_div').hide();
    $('.menu_additives_toggle_link').click(function(event) {
        event.preventDefault();
        outer_div = $( event.target ).closest("div");
        outer_div.find(".menu_additives_toggle_link_text1").toggle();
        outer_div.find(".menu_additives_toggle_link_text2").toggle();
        outer_div.next(".menu_additives_div").toggle();
    });



{% endblock docreadyjs %}
