{% extends "kg/base_kunden.html" %}

{% load fieldtags %}
{% load url from future %}

{% block title %} - Abonnement{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Abonnement</h1>
    </div>

    {% include "kg/partials/messages.html" %}

    <div class="panel panel-default">
        <div class="panel-body">
            Nach Aktivierung eines Abonnements für einen oder mehrere Wochentage werden alle zukünftigen Essen gemäß Ihrer Auswahl ab Beginn der nächsten Woche automatisch für Sie bestellt. Alle manuell bestellten Essen für den oder die Wochentage werden ab diesem Zeitpunkt gelöscht.<br />
            Selbstverständlich haben Sie trotz aktiviertem Abonnement weiterhin die Möglichkeit, einzelne Essen wieder abzubestellen. Machen Sie das bitte unter dem Menüpunkt <a href="{% url 'kg.views_kunden.essen' %}">"Essenbestellung"</a>.

            <h4>Ihre Abonnements:</h4>
            Bitte nehmen Sie Änderungen für jedes Kind einzeln vor.
        </div>
    </div>

    <div class="alert alert-info" role="alert">
        <strong>WICHTIG:</strong> Bitte prüfen Sie nach Änderung eines Abonnements unter dem Menüpunkt <a href="{% url 'kg.views_kunden.essen' %}">"Essenbestellung"</a> Ihre Bestellungen für die nächsten Wochen.
    </div>

	{% for item in child_list %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ item.child }}
                {% url "kg.views_kunden.abo_edit" item.child.id as edit_url %}
                {% include "kg/partials/btn_edit.html" with url=edit_url %}
            </div>

            <table class="table days">
                <tr>
                    <th class="col-md-3 col-xs-3 col-lg-3"></th>
                    {% for weekday in item.weekdays %}
                        <th class="col-md-2 col-xs-1 col-lg-2 text-center">
                            <span class="big-day">{{ weekday.1 }}</span>
                            <span class="small-day text-center">{{ weekday.1|slicestring:"0:2" }}</span>
                        </th>
                    {% endfor %}
                </tr>

                {% for mealtime in item.mealtimes %}
                    <tr>
                        <td>{{mealtime.0.mealtime_name}}</td>

                        {% for day in mealtime %}
                            <td class="text-center">
                                <input type="checkbox" disabled="disabled" name="mealtime_{{day.mealtime.id}}" class="mealtimecb{{item.child.id}}_{{day.mealtime.id}}" {% if day.selected %}checked="checked"{% endif %} value="{{day.weekday.0}}" />
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
		<br /><br />
	{% endfor %}

    <br /><br /><br /><br /><br />
{% endblock %}
							