{% extends "kg/base_kunden.html" %}


{% load fieldtags %}
{% load url from future %}

{% block title %} - Meine Daten bearbeiten{% endblock %}

{% block content %}
    <div class="page-header small">
        <h1>Meine Daten ändern</h1>
    </div>

    {% include "kg/partials/messages.html" %}

	{% if form.errors %}
        <div class="alert alert-danger" role="alert">Es sind Fehler aufgetreten. Bitte korrigieren Sie die markierten Felder.</div>
	{% endif %}

    <form method="post" action="{% url 'kg.views_kunden.profil_edit' %}" class="yform columnar">
        {% include "kg/partials/form.html" %}
    </form>
{% endblock %}

