{% extends "kg/base_kunden.html" %}

{% load url from future %}
{% load my_templatetags %}

{% block title %} - Guthaben{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Guthaben</h1>
    </div>

    {% include "kg/partials/messages.html" %}

    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="alert alert-info">Aktuelles Guthaben: {{ customer.account_balance }} Euro</div>
        </div>

        <div class="col-xs-12 col-sm-7 col-md-8">
            {% if show_sepa %}
                <div>
                    <a href="{% url 'kg.views_kunden.guthaben_aufladen' %}">&#9656; Guthaben aufladen per Lastschrift</a>
                </div>
            {% endif %}

            {% if show_bank_transfer %}
                {% block show_bank_transfer %}
                    <div>
                        {% include "kg/kunden_guthaben_include.html" %}
                    </div>
                {% endblock %}
            {% endif %}
        </div>
    </div>

    {% if nothing %}
        <p>Unterschreitet das Guthaben den Betrag von {{ customer.credit_minimum }} Euro (<a href="{% url 'kg.views_kunden.guthaben_minimum' %}">&#9656; ändern</a>), werden Sie per E-Mail benachrichtigt.</p>
    {% endif %}

    {% with_setting OVERLOAD_SITE as OVERLOAD_SITE %}
    {% if OVERLOAD_SITE == 'bodelessen' %}
        <br />
        <h4>Ohne Guthaben ist keine Bestellung möglich!</h4>
        <p>Bitte denken Sie daran, dass Sie für die ersten Bestellvorgänge rechtzeitig beginnen, Ihr Guthabenkonto zu füllen. Wie in den AGB beschrieben, können im ungünstigen Fall bis zu 5 Arbeitstage von Abgabe der Überweisung bei Ihrer Hausbank bis zum Ausweis des Überweisungsbetrages auf Ihrem Guthabenkonto vergehen.<br />
            Deshalb vermeidet man durch rechtzeitiges Auffüllen des Guthabenkontos am besten unnötigen Ärger...</p>
    {% endif %}

    <h4 id="orders">Umsätze:</h4>

    {% if paged_bookings.paginator.num_pages > 1 %}
        <nav>
            <ul class="pagination">
                <li class="{% if not paged_bookings.has_previous %}disabled{% endif %}">
                    {% if paged_bookings.has_previous %}
                        <a href="?page={{ paged_bookings.previous_page_number }}#orders" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    {% else %}
                        <span aria-label="Previous"><span aria-hidden="true">&laquo;</span></span>
                    {% endif %}
                </li>


                {% for num in paged_bookings.paginator.page_range %}
                    <li class="{% if num == page %}active{% endif %}">
                        <a href="?page={{ num }}#orders">{{ num }}</a>
                    </li>
                {% endfor %}

                <li class="{% if not paged_bookings.has_next %}disabled{% endif %}">
                    {% if paged_bookings.has_next %}
                        <a href="?page={{ paged_bookings.next_page_number }}#orders" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    {% else %}
                        <span aria-label="Next"><span aria-hidden="true">&raquo;</span></span>
                    {% endif %}
                </li>
            </ul>
        </nav>
    {% endif %}

	{% for booking in paged_bookings %}
		
		{% if forloop.first %}
			<table class="table">
				<tbody>
					<tr>
						<th class="header col-lg-2 col-md-2 col-xs-3">Datum</th>
						<th class="header col-lg-2 col-md-2 col-xs-3">Betrag</th>
						<th class="header">Beschreibung</th>
					</tr>
		{% endif %}

		<tr>
			<td><span title="{{booking.date|date:"d.m.Y H:i:s"}}">{{booking.date|date:"d.m.Y"}}</span></td>
			<td align="right">{{booking.amount}} EUR</td>
			<td>{{booking.description}}</td>
		</tr>

		{% if forloop.last %}
				</tbody>
			</table>
		{% endif %}

        {% empty %}
            <p>Aktuell keine Umsätze vorhanden.</p>
	{% endfor %}

    <br /><br /><br /><br /><br />
{% endblock %}