{% extends "kg/base_kunden.html" %}

{% load url from future %}
{% load my_templatetags %}

{% block title %} - Meine Daten{% endblock %}

{% block content %}
    <div class="page-header small">
        <h1>Meine Daten</h1>
    </div>

    {% include "kg/partials/messages.html" %}

    <div>
        <a href="{% url 'kg.views_kunden.password_change' %}" class="btn btn-default pull-right">Passwort ändern</a>
    </div>

    <br class="clear"/><br/>


    <div class="panel panel-default">
        <div class="panel-heading">Allgemeine Angaben
            {% url "kg.views_kunden.profil_edit" as edit_url %}
            {% include "kg/partials/btn_edit.html" with url=edit_url %}
        </div>

        <table class="table">
            <tr>
                <td class="col-md-3 col-xs-4 col-lg-3">Anrede</td>
                <td>{{ cust.title }}</td>
            </tr>
            <tr>
                <td>Vorname</td>
                <td>{{ cust.surname }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ cust.name }}</td>
            </tr>
            <tr>
                <td>Straße</td>
                <td>{{ cust.street }}</td>
            </tr>
            <tr>
                <td>Ort</td>
                <td>{{ cust.zip_code }} {{ cust.city }}</td>
            </tr>
            <tr>
                <td>E-Mail</td>
                <td>{{ cust.email }}</td>
            </tr>
            <tr>
                <td>Telefon</td>
                <td>{{ cust.pgone }}</td>
            </tr>
            <tr>
                <td>Telefon (weiteres)</td>
                <td>{{ cust.phone2 }}</td>
            </tr>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Zahlungsart
            {% if paytype_editable %}
                {% url "kg.views_kunden.paytype_edit" as edit_url %}
                {% include "kg/partials/btn_edit.html" with url=edit_url %}
            {% endif %}
        </div>

        <table class="table">
            <tr>
                <td class="col-md-3 col-xs-4 col-lg-3">Zahlungsart</td>
                <td>{% if cust.pay_type %}{{cust.pay_type}}{% endif %}</td>
            </tr>
        </table>
    </div>

    {% with_setting OVERLOAD_SITE as OVERLOAD_SITE %}
    {% if sepa_mandate %}
        <div class="panel panel-default">
            <div class="panel-heading">SEPA-Lastschriftmandat
                {% if OVERLOAD_SITE != 'awessen' %}
                  {% if cust.pay_type.is_sepa_mandate_editable %}
                    {% url "kg.views_kunden.sepa_mandate_edit" as edit_url %}
                    {% include "kg/partials/btn_edit.html" with url=edit_url %}
                  {% endif %}
                {% endif %}
            </div>

            <table class="table">
                <tr>
                    <td class="col-md-3 col-xs-4 col-lg-3">Vorname und Name (Kontoinhaber)</td>
                    <td>{{ sepa_mandate.name }}</td>
                </tr>
                <tr>
                    <td>Straße und Hausnummer</td>
                    <td>{{ sepa_mandate.street }}</td>
                </tr>
                <tr>
                    <td>Postleitzahl und Ort</td>
                    <td>{{ sepa_mandate.city }}</td>
                </tr>
                <tr>
                    <td>Kreditinstitut Name</td>
                    <td>{{ sepa_mandate.bank }}</td>
                </tr>
                <tr>
                    <td>BIC</td>
                    <td>{{ sepa_mandate.bic }}</td>
                </tr>
                <tr>
                    <td>IBAN</td>
                    <td>{{ sepa_mandate.iban }}</td>
                </tr>
            </table>
        </div>
    {% endif %}
{% endblock %}


