{% extends "kg/base_kunden.html" %}

{% load fieldtags %}
{% load my_templatetags %}
{% load url from future %}

{% block title %} - Meine Kinder{% endblock %}

{% block content %}
    {% with_setting OVERLOAD_SITE as OVERLOAD_SITE %}

    <div class="page-header small">
        <h1>Meine Kinder</h1>
    </div>

    {% include "kg/partials/messages.html" %}

    {% if childs %}
        {% include "kg/partials/kunden_kinder_hinweis.html" %}

        <div>
            <a href="{% url 'kg.views_kunden.kinder_add' %}" class="btn btn-default pull-right">+  Kind hinzufügen</a>
        </div>

        <br class="clear"/>
        <br/>
    {% endif %}

    {% for row in childs %}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">{{ row.child }}
                {% url "kg.views_kunden.kinder_edit" row.child.id as edit_url %}
                {% include "kg/partials/btn_edit.html" with url=edit_url %}
            </div>

            <table class="table">
                {% if OVERLOAD_SITE == 'ralbitz' %}
                    <tr>
                        <td class="col-md-3 col-xs-4 col-lg-3">Kundennummer</td>
                        <td>{{ row.child.cust_nbr }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td class="col-md-3 col-xs-4 col-lg-3">Geburtstag</td>
                    <td>{{row.child.birthday|date:"d.m.Y"}}</td>
                </tr>
                <tr>
                    <td class="col-md-3 col-xs-4 col-lg-3">Einrichtung</td>
                    <td>{{ row.child.facility.name }}, {{ row.child.facility_subunit.name}}</td>
                </tr>
                <tr>
                    <td class="col-md-3 col-xs-4 col-lg-3">Ermäßigung</td>
                    <td>{% for reduction in row.reductions %}{{reduction.reduction.name}}, bis {{reduction.date_end|date:"d.m.Y"}}{% empty %}keine{% endfor %}</td>
                </tr>
                <tr>
                    <td class="col-md-3 col-xs-4 col-lg-3">Allergene</td>
                    <td>{% for allergen in row.child.allergen.all %}{{ allergen.name }}<br />{% empty %}keine{% endfor%}</td>
                </tr>
            </table>
        </div>

        {% empty %}

        <div class="alert alert-info" role="alert">Sie haben bisher noch keine Kinder eingetragen.</div>

	    <a href="{% url 'kg.views_kunden.kinder_add' %}" class="btn btn-primary">Jetzt Kind hinzufügen</a>
    {% endfor %}

    <br /><br /><br /><br /><br />
{% endblock %}

{% block inlinejs %}
    $(function() {
		$(".changelink").button();
	});
{% endblock %}
