{% extends "kg/base_kunden.html" %}

{% load url from future %}

{% block title %} - Rechnung per Post{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Rechnungen</h1>
    </div>

    <h4>Sie erhalten derzeit Online-Rechnungen.</h4>
    <br />
    <p>Sie haben die Möglichkeit, Ihre Rechnungen auf Papier-Rechnung umzustellen.<br />
       Wenn Sie sich dafür entscheiden, bekommen Sie zukünftig keine Online-Rechnungen mehr von uns.</p>

    {{ individual_text|safe }}

    <form action="{% url 'kg.views_kunden.rechnungen_papier' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input id="id_deactivate_online_invoice" type="checkbox" name="deactivate_online_invoice" value="1" />
                    </span>
                    <label for="id_deactivate_online_invoice" class="control-label form-control">Ja, ich möchte meine Rechnungen in Zukunft in Papierform erhalten.</label>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <br />
        <button type="submit" class="btn btn-default" name="cancel" value="Abbrechen">Abbrechen</button>
        <button type="submit" class="btn btn-primary" name="submit" value="Senden">Senden</button>
    </form>

    <br /><br /><br /><br /><br />
{% endblock %}


