{% extends "kg/base_kunden.html" %}


{% load fieldtags %}
{% load url from future %}

{% block title %} - Passwort ändern{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Passwort ändern</h1>
    </div>

    {% include "kg/partials/messages.html" %}

	{% if form.errors %}
        <div class="alert alert-danger" role="alert">Es sind Fehler aufgetreten. Bitte korrigieren Sie die markierten Felder.</div>
	{% endif %}

    <form method="post" action="{% url 'kg.views_kunden.password_change' %}" class="yform columnar w50">
       {% include "kg/partials/form.html" %}
    </form>


<br />
{% endblock %}

