{% extends "kg/base_kunden.html" %}

{% load url from future %}

{% block title %} - Guthaben{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Guthaben aufladen</h1>
    </div>

    {% include "kg/partials/messages.html" %}

    {% if form.amount.errors %}
        <div class="alert alert-danger">
            <ul >
                {% for error in form.amount.errors %}
                    <li>{{ error|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if show_subform1 %}

        {% if not sepa_error %}
            <div class="panel panel-default">
                <div class="panel-heading">Guthaben aufladen per Lastschrifteinzug</div>
                <div class="panel-body">
                    <form action="{% url 'kg.views_kunden.guthaben_aufladen' %}" method="post">
                        {% csrf_token %}

                        <div class="form-group{% if form.amount.errors %} has-error{% endif %}">
                            <label class="control-label" for="{{ form.amount.id_for_label }}" style="margin-bottom: 3px;">Betrag in Euro</label>
                            <input class="form-control" type="text" id="{{ form.amount.id_for_label }}" name="amount" value="{{ form.amount.value|default:'' }}" />
                        </div>

                        <p>Bitte geben Sie den Betrag ein, den wir von Ihrem Konto abbuchen sollen.</p>

                        <button type="submit" class="btn btn-default" tabindex="3" name="cancel" value="1">Abbrechen</button>
                        <button type="submit" class="btn btn-primary" tabindex="4">Weiter</button>
                    </form>

                </div>
            </div>

            {% else %}
                SEPA ERROR
            {% endif %}

            <br /><br /><br /><br /><br />
    {% endif %}

    {% if show_subform2 %}

        <div class="alert alert-info">Bitte bestätigen Sie folgenden Auftrag</div>

        <form action="{% url 'kg.views_kunden.guthaben_aufladen' %}" method="post">

            {% csrf_token %}
            <input type="hidden" name="subform2_sent" value="1"/>
            <input type="hidden" name="amount" value="{{ form.amount.value }}"/>

            <div class="panel panel-default">
                <div class="panel-heading">Guthaben aufladen per Lastschrifteinzug</div>
                <div class="panel-body">
                    <p>Lastschrifteinzug in Höhe von: <strong>{{ cleaned_amount }} Euro</strong><br />
                        <br />
                        von Ihrem Konto IBAN {{ sepa_mandate.iban }}<br />
                        unter Angabe der Mandatsreferenz {{ sepa_mandate.mandate_id }}<br />
                        <br />
                        Unsere Gläubiger-Id: {{ SEPA.SEPA_CREDITOR_ID }}</p>

                    <p>Wir werden den gewünschten Betrag in den nächsten Tagen von Ihrem Konto abbuchen.</p>

                    <button type="submit" class="btn btn-default" tabindex="3" name="cancel" value="1">Abbrechen</button>
                    <button type="submit" class="btn btn-primary" tabindex="4">Auftrag senden</button>

                </div>
            </div>
        </form>
        <br /><br /><br /><br /><br />

    {% endif %}

{% endblock %}


