{% extends "kg/base_kunden.html" %}

{% load fieldtags %}
{% load simpletags %}
{% load url from future %}

{% block title %} - Zahlungsart ändern{% endblock %}

{% block docreadyjs %}
    var id = $('#id_pay_type').val();
    $('div[class*="paytype-"]').hide();
    $('.paytype-' + id).show();

    $('#id_pay_type').change(function(){
        var id = $('#id_pay_type').val();
        $('div[class*="paytype-"]').hide();
        $('.paytype-' + id).show();
    });
{% endblock %}


{% block content %}
    <div class="page-header">
        <h1>Zahlungsart ändern</h1>
    </div>

    {% include "kg/partials/messages.html" %}

	{% if paytype_form.errors or sepa_form.errors %}
		<div class="alert alert-danger" role="alert">Es sind Fehler aufgetreten. Bitte korrigieren Sie die markierten Felder.</div>
	{% endif %}

    <form method="post" action="{% url 'kg.views_kunden.paytype_edit' %}" class="yform columnar">
        {% with form=paytype_form %}
            {% include "kg/partials/form.html" with only_form='yes' %}
        {% endwith %}

        {% with form=sepa_form %}
            {% include "kg/partials/form.html" with panel_class='paytype-2' %}
        {% endwith %}
    </form>
{% endblock %}

