{% extends "kg/base.html" %}

{% load fieldtags %}
{% load simpletags %}
{% load my_templatetags %}
{% load url from future %}

{% block title %} - Anmeldung für Neukunden{% endblock %}

{% block docreadyjs %}

    var id = $('#id_pay_type').val();
    $('div[class*="paytype-"]').hide();
    $('.paytype-' + id).show();

    $('#id_pay_type').change(function(){
        var id = $('#id_pay_type').val();
        $('div[class*="paytype-"]').hide();
        $('.paytype-' + id).show();
    });

{% endblock %}


{% block content %}

    {% with_setting CANTEEN_MODE as CANTEEN_MODE %}

    <div class="page-header">
        <h1>Neuanmeldung</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            Bitte füllen Sie das Formular vollständig aus.<br />
            Nach Abschicken des Formulars wird Ihnen Ihr Passwort per E-Mail zugeschickt.
            {% if not CANTEEN_MODE %}
                <br />
                Alle Angaben zu Ihren Kindern tragen Sie dann bitte in Ihrem Kundenkonto ein.
            {% endif %}
        </div>
    </div>

	{% if customer_form.errors or sepa_form.errors %}
		<div class="alert alert-danger">Es sind Fehler aufgetreten. Bitte korrigieren Sie die markierten Felder.</div>
	{% endif %}

    <form method="post" action="{% url 'kg.views_registrierung.neuanmeldung' %}">
        {% with form=customer_form %}
            {% include "kg/partials/form.html" with only_form="yes" exclude='AGB, Gebührensatzung' %}
        {% endwith %}

        {% with form=sepa_form %}
            {% include "kg/partials/form.html" with only_form="yes" %}
        {% endwith %}

        {% with form=customer_form %}
            {% include "kg/partials/form.html" with exclude="Schule / Kindergarten, Einrichtung,E-Mail,Name, Name (Eltern),Zahlungsart,Anschrift,Telefon" %}
        {% endwith %}

{#   <fieldset class="{{ customer_form.fieldsets.AGB.classes }}">#}
{#       <legend>{{ customer_form.fieldsets.AGB.legend }}</legend>#}
{#       {% if customer_form.fieldsets.AGB.description %}#}
{#         <div class="description">{{ customer_form.fieldsets.AGB.description }}</div>#}
{#       {% endif %}#}
{#       {% for field in customer_form.fieldsets.AGB %}#}
{#           {{ field.errors }}#}
{#		   <p>{{ field }}&nbsp;&nbsp;&nbsp;Ich bestätige, die <a href="/agb/">Allgemeinen Geschäftsbedingungen</a> zur Kenntnis genommen zu haben und akzeptiere diese.</p>#}
{#         {% endfor %}#}
{#   </fieldset>#}

{#   	<label class="submitButton" for="submit"><input value="Anmelden" tabindex="3" type="submit" id="submit"></label>#}


</form>


<br />
{% endblock %}