{% extends "kg/base.html" %}

{% load fieldtags %}
{% load url from future %}

{% block title %} - Anmeldung für Bestandskunden{% endblock %}

{% block content %}

<h1>Anmeldung für Bestandskunden</h1>
<br />
<p>Sie sind bereits Kunde bei uns und wollen zukünftig das Essen Ihrer Kinder online bestellen?<br />
Dann sind Sie hier richtig.</p>
<p>Bitte füllen Sie das unten stehende Formular vollständig aus.
Halten Sie dazu bitte Ihre letzte Rechnung bereit.<br /> 
Nach Abschicken des Formulars wird Ihnen Ihr Passwort per E-Mail zugeschickt.</p>
<p><strong>Achtung:</strong> Sollten Sie bereits Kunde von uns sein und noch keine Rechnung erhalten haben, kontaktieren Sie uns bitte per Telefon oder E-Mail.
</p>
<br />
<p>Sollten Sie noch kein Kunde bei uns sein, nutzen Sie bitte die <a href="{% url 'kg.views_registrierung.neuanmeldung' %}">Anmeldung für Neukunden</a></p>

<br />


<form method="post" action="{% url 'kg.views_registrierung.registrierung' %}" class="yform columnar">
	
   {% csrf_token %}
   
   {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}  
   {% for fieldset in form.fieldsets %}  
     <fieldset class="{{ fieldset.classes }}">  
       {% if fieldset.legend %}  
         <legend>{{ fieldset.legend }}</legend>  
       {% endif %}  
       {% if fieldset.description %}  
         <div class="description">{{ fieldset.description }}</div>  
       {% endif %}  
         
         {% for field in fieldset %}  
           {% if field.is_hidden %}  
             {{ field }}  
           {% else %}  
           		{% if field|widget_type == "CheckboxInput" %}
           			{{ field.errors }}
					<p>{{ field }}&nbsp;&nbsp;&nbsp;Ich bestätige, die <a href="/agb/">Allgemeinen Geschäftsbedingungen</a> zur Kenntnis genommen zu haben und akzeptiere diese.</p>
           		{% else %}
             		<div{{ field.row_attrs }}>  
               		{{ field.errors }}  
               		{{ field.label_tag }}  
               		{{ field }}  
             		</div>    
             	{% endif %} 
           {% endif %}  
         {% endfor %}  
       
     </fieldset>  
   {% endfor %}
   
   
   	<label class="submitButton" for="submit"><input value="Anmelden" tabindex="3" type="submit" id="submit"></label>


</form>


<br />
{% endblock %}