{% if noitems %}

    <div id="no_items">
        <br />
        Für den angegebenen Zeitraum liegt noch kein Speiseplan vor.<br />
        <br />
    </div>

{% else %}
	<table class="table food-order">
		<thead>
			<tr>
				{% for day in days %}
					<th>{{day|date:"l"}}<noscript>, {{day|date:"d.m."}}</noscript></th>
				{% endfor %}
			</tr>
		</thead>


		<tbody>
			{% for menu_dict in menu_list %}

			<tr>
                <th colspan="{{days|length}}">
                    {% if menu_dict.mealtime.name_public_menu %}
                        {{ menu_dict.mealtime.name_public_menu }}
                    {% else %}
                        {{ menu_dict.mealtime.name }}
                    {% endif %}
                </th>
            </tr>

	 		<tr>

				{% for day_menus in menu_dict.day_list %}
					<td class="menu-cell col-xs-2 col-md-2 col-lg-2">
						{% if day_menus.menu.id %}
							{{day_menus.menu.description|safe|linebreaksbr}}
						{% endif %}
					</td>
				{% endfor %}

			</tr>
            {% if day_menus.allergens != '' %}
                <tr>
                    {% for day_menus in menu_dict.day_list %}
                        <td class="menu-allergens">
                            {% if day_menus.allergens != '' %}
                                {{ day_menus.allergens }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
			{% endfor %}

            <tr><td colspan="{{days|length}}" class="nopadding"></td></tr>
		</tbody>
	</table>

    {% include "kg/partials/menu_allergens_panel.html" %}

{% endif %}
