<p class="strong">Essenmarken {{month_date|date:"F"}} {{month_date|date:"Y"}} für {{child.surname}} {{child.name}}<br /></p>

<table border="1" cellspacing="0" cellpadding="6">
    <tr>
        {%  for voucher in voucher_list %}
            <td style="text-align: center; vertical-align: middle">
                <span style="font-size: 14px; font-weight: bold;">{{ voucher.date|date:"d.m.Y" }}</span><br />
                <span style="font-size: 12px">{{ voucher.cust_nbr }}</span><br />
                <span style="font-size: 18px; font-weight: bold;">{{ voucher.menu_name }}</span><br />
                <span style="font-size: 10px;">{{ voucher.child_name}}</span>
            </td>
            {% if forloop.counter|divisibleby:4 and not forloop.last %}
                </tr><tr>
            {% endif %}
        {% endfor %}
    </tr>
</table>

<div>
  <br />
  Mit freundlichen Grüßen<br />
  Provider Name
</div>
