{% load fieldtags %}


{% if noitems %}
    Für den angegebenen Zeitraum liegt noch keine Speiseplan vor.
{% else %}
    {% for day in days %}

        <a id="collapse{{day|date:"dmy"}}-trigger" data-toggle="collapse" data-parent="#accordion" href="#collapse{{day|date:"dmy"}}" class="day-meal">
            <div class="day">{{day|date:"l"|slicestring:"0:2"}}.</div>

            <div class="dinner">
                {{day|date:"l, d.m.Y"}}
            </div>
        </a>
        <div id="collapse{{day|date:"dmy"}}" class="panel-collapse text-center">
            <table class="table small-menu">
                {% for menu_dict in menu_list %}
                    {% with mealtime=menu_dict.day_list|get_day_mealtime:day %}
                        <tr>
                            <td class="vert-align">{{ menu_dict.mealtime.name }}</td>
                            <td>
                            <td class="text-left">
                                {% if mealtime.menu.id %}
                                    <span>{{mealtime.menu.description|safe|linebreaksbr}}</span>
                                    <br/>
                                    {% if mealtime.allergens != '' %}
                                        <small>{{ mealtime.allergens }}</small>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            </table>
        </div>
    {% endfor %}

    {% include "kg/partials/menu_allergens_panel.html" %}

{% endif %}