<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            <span>Genussmanufaktur</span><br />
            <span>Claudia Lehmann</span>
        </div>

        <span>Schlossplatz 6</span><br/>
        <span>06886 Lutherstadt Wittenberg</span><br/>
        <span>Telefon: 0172 8442516</span><br/>
        <span>E-Mail: genussmanufaktur-luther@gmx.de</span>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
            <a href="/agb/" class="highlighted">AGB</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
