{% load report_tags %}

<p class="strong">
{%  if reminder.type == 1 %}
    Mahnung
{% endif %}
{%  if reminder.type == 2 %}
    Mahnung
{% endif %}
{%  if reminder.type == 3 %}
    Mahnung
{% endif %}
<br /><br />
</p>

<div>
    Sehr geehrte{% if customer.title == "Herr" %}r{% endif %} {{customer.title}} {{customer.name}},
    <br /><br />
    {%  if reminder.type == 1 %}
        wir haben festgestellt, dass Sie bisher nicht alle unsere Rechnungen beglichen haben, bzw. Lastschriften zurückgebucht wurden. Sicherlich haben Sie dies nur übersehen.
        <br /><br />
        Folgender Übersicht können Sie entnehmen, welche Beträge noch offen sind:
    {% endif %}
    {%  if reminder.type == 2 %}
        wir haben Sie bereits mit dem Schreiben vom {{ last_reminder.create_date|date:'d.m.Y' }} daran erinnert, dass Sie noch nicht alle unsere Forderungen beglichen haben.
        <br /><br />
        Folgender Übersicht können Sie entnehmen, welche Beträge noch offen sind:
    {% endif %}
    {%  if reminder.type == 3 %}
        wir haben trotz unserer Mahnung mit Fristsetzung vom {{ last_reminder.create_date|date:'d.m.Y' }} festgestellt, dass weiterhin folgende Beträge offen stehen:
    {% endif %}
</div>

<table>
    <tbody>
    <tr>
          <td class="strong">Art der Forderung</td>
          <td class="w20 strong right pr1">Betrag</td>
    </tr>
    {% for row in data %}
        <tr>
            <td {% if forloop.first %}class="pt1 bt1"{% endif %}>{{row.description}}</td>
            <td class="w20 right pr1{% if forloop.first %} pt1 bt1{% endif %}">{{row.amount|floatformat:2}} €</td>
        </tr>
    {% endfor %}

    {% if reminder_fee > 0 %}
        <tr>
            <td class="pt1 bt1">Summe der offenen Beträge</td>
            <td class="right pr1 pt1 bt1">{{ subtotal|floatformat:2 }} €</td>
        </tr>
        <tr>
            <td>Mahnkosten</td>
            <td class="right pr1">{{ reminder_fee|floatformat:2 }} €</td>
        </tr>
    {% endif %}
    <tr>
        <td class="strong right pt1 bt1 bb2">Gesamtbetrag</td>
        <td class="right strong pr1 pt1 bt1 bb2">{{ reminder.total|floatformat:2 }} €</td>
    </tr>
    </tbody>
</table>



    {% if reminder.type == 1 %}
        <p>
            Bitte überweisen Sie den Gesamtbetrag in Höhe von <span class="strong">{{ reminder.total|floatformat:2 }} Euro</span>
            bis zum <span class="strong">{{ reminder.pay_until|date:'d.m.Y' }}</span> auf unten genanntes Konto.<br />
            Sollten wir weiterhin keinen Zahlungseingang verbuchen, werden wir kein weiteres Essen an Ihr Kind ausgeben.
        </p>
    {% endif %}
    {% if reminder.type == 2 %}
        <p>
            Wir konnten trotz der letzten Erinnerung bisher keinen Zahlungseingang verbuchen.<br />
            Wir bitten Sie deshalb erneut, den Gesamtbetrag in Höhe von <span class="strong">{{ reminder.total|floatformat:2 }} Euro</span>
            bis zum <span class="strong">{{ reminder.pay_until|date:'d.m.Y' }}</span> auf unten genanntes Konto zu überweisen.
            Bitte haben Sie Verständnis, dass wir im Interesse aller unserer Gäste eine pünktliche und vollständige Bezahlung einfordern müssen.
        </p>
        {% insert_page_break %}
        <p class="strong">
            Sollten wir bis zum oben genannten Datum keinen Zahlungseingang verbuchen, werden wir kein weiteres Essen an Ihr Kind ausgeben und leiten die Forderung ohne weitere Benachrichtigung an unser Inkassobüro "Creditreform" weiter. Dies führt zu erheblichen Mehrkosten für Sie und kann zu einer Eintragung im sogenannten "Schufa" Verzeichnis führen.
        </p>
    {% endif %}
    {% if reminder.type == 3 %}
        <p>
            Bitte überweisen Sie den Gesamtbetrag in Höhe von <span class="strong">{{ reminder.total|floatformat:2 }} Euro</span> sofort und ohne weitere Verzögerungen auf das angegebene Konto.<br />
            Wenn der Betrag nicht binnen 5 Tagen eingegangen ist, übergeben wir den Vorgang dem Inkassobüro "Creditreform". Eine weitere Mahnung unsererseits erfolgt nicht.
        </p>
    {% endif %}

    <p>
        Geben Sie bitte folgenden Verwendungszweck an: <span class="strong">{{ reminder.number }} {{customer.name}}{% if customer.surname %}, {{customer.surname}}{% endif %}</span>
    </p>

    {% if reminder_fee %}
        {% if reminder.type == 1 %}
            <p>
                Sollten Sie die aufgeführten Beträge zwischenzeitlich überwiesen haben, gleichen Sie bitte noch die angefallenen Mahnkosten aus.
            </p>
        {% else %}
            <p>
                Sollten Sie die aufgeführten Beträge zwischenzeitlich vollständig (inkl. Mahnkosten) überwiesen haben, betrachten Sie dieses Schreiben bitte als gegenstandslos.
            </p>
        {%  endif %}
    {% endif %}

<p>Mit freundlichen Grüßen<br />Leib & Seele Dienst am Gast GmbH</p>

