<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            <span>DRK-Speiseeinrichtung Schmalkalden</span><br />
        </div>

        <span>Entenplan 10</span><br/>
        <span>98574 Schmalkalden</span><br/>
        <span>Telefon: 03683 603130</span><br/>
        <span>E-Mail: kueche@drk-schmalkalden.de</span>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
