<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            <span>Klinik Sonnenblick</span><br />
            <span>Rehabilitationsklinik der Deutschen Rentenversicherung Hessen</span>
        </div>

        <span>Amöneburger Straße 1-6</span><br/>
        <span>35043 Marburg</span><br/>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
