.header-h1 {margin-top: 10px;}
.header-h1 a, .header-h1 a:visited, .header-h1 a:focus, .header-h1 a:hover, .header-h1 a:active {color: #000000; text-decoration: none; background: none;}

.fixed-ratio-resize { /* basic responsive img */
	max-width: 100%;
	height: auto;
	width: auto\9; /* IE8 */
}

div.actions {padding-bottom: 15px; border-bottom: 2px solid #000000;}

.left-block {width: 25%;}
.footer .left-block {height: 8em;}


@media screen and (max-width: 900px) {


}

@media screen and (max-width: 750px) {

    div.actions {padding-bottom: 0; border-bottom: 0;}
	.header-h1 .logo img {width: 180px; margin-top: 5px; }
}


@media screen and (max-width: 580px) {

    .header-h1 {margin-top: 5px;}
	.header .logo {text-align: center;}
    .header .logo img {width: 120px;  margin-top: 5px;}

}

