{% extends "kg/pdf/base.html" %}

{% block letterhead %}
  {{ site.SITE_HTML_TITLE }}
{% endblock letterhead %}

{% block sender %}
  Service Provider Name
{% endblock sender %}

{% block sender_address %}
  Street address<br />
  ZIP code - City
{% endblock sender_address %}

{% block right-header %}
  Customer title
  Customer surname - name
  Street address
  ZIP code - City
{% endblock %}

{% block content %}
  {% autoescape off %}
    {{ body_content_html }}
  {% endautoescape %}
{% endblock %}

{% block footer %}
<div class="small">
  <p>Dieses Schreiben wurde maschinell erstellt und trägt deshalb keine Unterschrift.</p>
  <hr style="width: 1px; margin-top: 0;"/>
  <table style="width: 100%">
    <tbody>
      <tr>
        <td width="24%" class="top">
          Footer column #1
        </td>
        <td width="25%" class="top">
          Footer column #2
        </td>
        <td width="26%" class="top">
          Footer column #3
        </td>
        <td width="25%" class="top">
          Footer column #4
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock footer %}
