<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            Leib & Seele Dienst am Gast GmbH<br />
        </div>

        <div>
            Marktplatz 3<br />
            06184 Kabelsketal OT Großkugel <br />
            Telefon: +49 34605 149999<br />
            Fax: +49 34605 149984<br />
            E-Mail: info@speisenbildung-leib-und-seele.de
        </div>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/agb/" class="highlighted">Unsere AGB</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
