<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            <span>Schule, Jugend, Kids & Co e.V.</span><br />
        </div>

        <span>An der Hansalinie 10b</span><br/>
        <span>48163 Münster</span><br/>
        <span>Telefon: 0251 - 74 76 702</span><br/>
        <span>E-Mail: info@jugend-ms.de</span>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
