{% load fieldtags %}
<tr>
  {% if MODULE_ABSENCE and ORDER_WARNING %}
  <td colspan="{{mealtimes|length|add:'4'}}">
  {% elif MODULE_ABSENCE or ORDER_WARNING %}
  <td colspan="{{mealtimes|length|add:'3'}}">
  {% else %}
  <td colspan="{{mealtimes|length|add:'2'}}">
  {% endif %}
    <strong>{{subunit.subunit.name}}</strong>
  </td>
</tr>
{% for child in subunit.child_list %}
  <tr>
    <td>{{child.child}}</td>
    {% for order in child.orders %}
      <td class="center">{{ order }}</td>
    {% endfor %}
    {% if ORDER_WARNING %}
    <td class="center {{ child.ordered_day_count|yesno:'danger,' }}">
        {% if child.ordered_day_count %}{{ child.child.extra_attribute|default:'0' }}{% endif %}
    </td>
    {% endif %}
    {% if MODULE_ABSENCE %}<td class="center">{% if child.child.id in day_absences %}JA{% endif %}</td>{% endif %}
    <td>
      {% if child.suspended %}GESPERRT{% endif %}
      {% for allergen in child.child.allergen.all %}
          {% if forloop.first and child.suspended %} - {% endif %}
          {% if not forloop.last %}
            {{allergen.name}},
          {% else %}
            {{allergen.name}}
          {% endif %}
      {% endfor %}
    </td>
  </tr>
{% endfor %}
<tr>
  <td></td>
  {% for mealtime in mealtimes %}
    <td class="center"><strong>{{subunit.subtotal|keyvalue:mealtime.id}}</strong></td>
  {% endfor %}
  {% if ORDER_WARNING %}<td></td>{% endif %}
  {% if MODULE_ABSENCE %}<td></td>{% endif %}
  <td></td>
</tr>
